﻿@model IEnumerable<APLA.Models.TimeTable>
<br />
<legend style="text-align: center">Teacher Time Table</legend>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th style="text-align: center">
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th style="text-align: center">
            @Html.DisplayName("Education Stream")
        </th>
        <th style="text-align: center">
            @Html.DisplayName("Subject")
        </th>
        <th style="text-align: center">
            @Html.DisplayName("Class Type")
        </th>
        <th style="text-align: center">
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th style="text-align: center">
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th style="text-align: center">
            @Html.DisplayNameFor(model => model.Venue)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EducationStream.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venue)
        </td>
    </tr>
}

</table>
