﻿@model APLA.Models.Teacher

@{
    ViewBag.Title = "Profile Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>
    .form-horizontal .controls {
    margin-left: 180px;
    margin-top: 5px;
}
    .profile_form {/*
        margin-left:auto;
        margin-right:auto;
        width:50%;*/
    }
    select, textarea, input[type="text"], input[type="password"] {
        height:35px;
    }
    .profile_img 
    {
        	background-position: left;
            margin-bottom:60px;
        width:100px;
        height:100px;
    }
    .profile_details
    {
        margin-top:5px;
    }
    .control-label {
        font-weight:bold;
    }
     .timetable_div {
        padding-top:20px;
        background-color:#F5F5F5;
    }
</style>

<div class="container">
    <div class="row">
        <div id="Content">
            <h3 style="color: #005CFE">Your profile details</h3>
            <br />
            <div class="profile_img">
                @{
                    var imgPath = Directory.EnumerateFiles(Server.MapPath(@"~/Images/ProfileImages/"), "*.*", SearchOption.AllDirectories).Where(s => s.Contains(Model.RegNo));
                    if (imgPath != null && imgPath.Count() > 0)
                    {

                        var img = new FileInfo(imgPath.First());
                        if (img != null)
                        {
                    <img src="@Url.Content(String.Format("~/Images/ProfileImages/{0}", img.Name))" width="100" height="100"/>
                        }

                    }
                }
            </div>

            <div class="form-horizontal profile_form timetable_div" role="form">

                <div class="col-xs-6 col-sm-6 col-md-6 column">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Your Registration No</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.RegNo, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-7 profile_details">
                            @Html.Label((string)ViewBag.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Email</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Email, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Mobile Phone</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Pho_M, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Is married</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.IsMarried, new { @class = "form-control" })
                        </div>
                    </div>

                    <div id="partnerdiv">

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Spouse Name</label>
                            <div class="col-sm-7 profile_details">
                                @Html.DisplayFor(model => model.PartnerName, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Spouse Birthday</label>
                            <div class="col-sm-7 profile_details">
                                @String.Format("{0:d}", Model.PartnerBday, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Spouse is working</label>
                            <div class="col-sm-7 profile_details">
                                @Html.DisplayFor(model => model.IsPartnerWorking, new { @class = "form-control" })
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Education Streams</label>
                        <div class="col-sm-7 profile_details">
                            @foreach (APLA.Models.EducationStream stream in Model.EducationStreams)
                            {
                                @Html.DisplayFor(m => stream.Name)
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Subjects</label>
                        <div class="col-sm-7 profile_details">
                            @foreach (APLA.Models.Subject subject in Model.Subjects)
                            {
                                <label>@subject.Name</label>
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Children</label>
                        <div class="col-sm-7 profile_details">
                            @foreach (APLA.Models.Children children in Model.Children)
                            {
                                <label>@children.Name</label>
                            }
                        </div>
                    </div>

                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 column">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Current Address</label>
                        <div class="col-sm-7 profile_details">
                            @Html.Label((string)ViewBag.CurrentAddress)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Permanent Address</label>
                        <div class="col-sm-7 profile_details">
                            @Html.Label((string)ViewBag.permanentAddress)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Residenace Phone</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Pho_R, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Office Phone</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Pho_O, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Birth Day</label>
                        <div class="col-sm-7 profile_details">
                            @String.Format("{0:d}", Model.Bday, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">National ID</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.NationalId, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Nationality</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Race.Name, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Religion</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Religion.Name, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Institutes</label>
                        <div class="col-sm-7 profile_details">
                            @foreach (APLA.Models.Institute institute in Model.Institutes)
                            {
                                <label>@institute.Name</label>
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Occupations</label>
                        <div class="col-sm-7 profile_details">
                            @foreach (APLA.Models.Occupation occupation in Model.Occupations)
                            {
                                <label>@occupation.Name</label>
                            }
                        </div>
                    </div>

       <div class="form-group">
        <label class="col-sm-4 control-label">Social Media :</label>
        <div class="col-sm-7 profile_details">
             @if (!string.IsNullOrEmpty(Model.facebook))
             {
                             <a href="@Model.facebook" target="_blank">
                                 <img src="~/slideshow/fb2.png" width="25" height="25" /></a>
             }

                         @if (!string.IsNullOrEmpty(Model.twitter))
                         {
                             <a href="@Model.twitter" target="_blank">
                                 <img src="~/slideshow/t2.png" width="25" height="25" /></a>
                         }

                         @if (!string.IsNullOrEmpty(Model.googlePlus))
                         {
                             <a href="@Model.googlePlus" target="_blank">
                                 <img src="~/slideshow/g1.png" width="25" height="25" /></a>
                         }

                         @if (!string.IsNullOrEmpty(Model.linkedIn))
                         {
                             <a href="@Model.linkedIn" target="_blank">
                                 <img src="~/slideshow/linkedin.png" width="25" height="25" /></a>
                                 
                         }
                         @if (!string.IsNullOrEmpty(Model.youTube))
                         {
                             <a href="@Model.youTube" target="_blank">
                                 <img src="~/slideshow/u1.png" width="25" height="25" /></a>
                         }
        
        </div>
        </div>

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a class="btn btn-success"@Html.ActionLink("Update Profile", "Edit", new { id = Model.Id })</a>
                     <input class="btn btn-primary" type="button" id="print" value="Print the profile">
                    <a class="btn btn-info" @Html.ActionLink("Goto My TimeTable", "Index", "TimeTable") 
                </div>
            </div>

        </div>
    </div>
</div>  

<script type="text/javascript">
    $(document).ready(function () {
        var isMarried = '@Html.Raw(Json.Encode(Model.IsMarried))';

        if (isMarried == 'false') {
            $("#partnerdiv").hide();
        }

        $("#print").click(function () {
            $("#Content").printArea();
        });
    });
</script>




