﻿@model APLA.Models.Teacher

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .form-horizontal .controls {
        margin-left: 180px;
        margin-top: 5px;
    }

    select, textarea, input[type="text"], input[type="password"] {
        height: 35px;
    }

    .timetable_div {
        background-color: #F5F5F5;
    }

    .profile_details {
        margin-top: 5px;
    }
</style>
<div class="container">
    <div class="row">
        @using (Html.BeginForm("Edit", "PublicTeacher", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal timetable_div" }))
        {
            @Html.ValidationSummary(true)
            <legend>Edit Profile</legend>
    

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.RegNo)
            @Html.HiddenFor(model => model.Enabled)

            <div class="col-xs-6 col-sm-6 col-md-6 column">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Your Registration No</label>
                    <div class="col-sm-7 profile_details">
                        @Html.DisplayFor(model => model.RegNo, new { @class = "" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Title</label>
                    <div class="col-sm-7">
                        @Html.DropDownListFor(model => model.Name, (SelectList)ViewBag.Names, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Name) </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">First Name <a style="color: red">*</a></label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.CommonName, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.CommonName)</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Last Name</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.FullName)</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Email)</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Birth Day</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.Bday, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Bday)</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">National ID No</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.NationalId, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.NationalId)</p>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-4 control-label">Profile Image</label>
                    <div class="col-sm-7">
                        @{
            var imgPath = Directory.EnumerateFiles(Server.MapPath(@"~/Images/ProfileImages/"), "*.*", SearchOption.AllDirectories).Where(s => s.Contains(Model.RegNo));
            if (imgPath != null && imgPath.Count() > 0)
            {

                var img = new FileInfo(imgPath.First());
                if (img != null)
                {
                            <img src="@Url.Content(String.Format("~/Images/ProfileImages/{0}", img.Name))" width="100" height="100" />
                }

            }
                        }

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Change Profile Image</label>
                    <div class="col-sm-7">
                        <input type="file" name="file" id="file" style="width: 100%;" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label checkbox">@Html.LabelFor(model => model.IsMarried)</label>
                    <div class="col-sm-7">
                        @Html.EditorFor(model => model.IsMarried)
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.IsMarried)</p>
                    </div>
                </div>
                <div id="partnerdiv">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Spouse Name</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.PartnerName, new { @class = "form-control" })
                            <p class="alert-danger">@Html.ValidationMessageFor(model => model.PartnerName)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Spouse Birth day</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.PartnerBday, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label checkbox">Spouse Working</label>
                        <div class="col-sm-7">
                            @Html.EditorFor(model => model.IsPartnerWorking, new { @class = "form-control" })
                            <p class="alert-danger">@Html.ValidationMessageFor(model => model.IsPartnerWorking) </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Children</label>
                    <div class="col-sm-5">
                        <table id="Table1" class="table table-hover">
                            <tr class="success">
                                <th>
                                    <label>Name</label>
                                </th>
                                <th>
                                    <label>Birthday</label>
                                </th>
                                <th>
                                    <input type="button" class="BtnPlus" value="+" /></th>
                            </tr>
                            @foreach (APLA.Models.Children child in Model.Children)
                            {
                                <tr id="div_Child" class="info">
                                    <td>
                                        <input type="text" id="names" name="names" value="@child.Name" />
                                    </td>
                                    <td>
                                        <input type="text" class="Bday" id="bdays" name="bdays" value="@child.Bday" />
                                    </td>
                                    <td>
                                        <input type="button" class="BtnMinus" value="-" />
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label checkbox">Education Streams</label>
                    <div class="col-sm-10">

                        @foreach (APLA.Models.EducationStream educationStream in ViewBag.EducationStreams)
                        {
                            <div class="controls">
                                <input type="checkbox" name="selectedEducationStreams" id="e@(educationStream.Id)" value="@educationStream.Id"  
                        @(Html.Raw(educationStream.Teachers.Contains(Model) ? "checked=\"checked\"" : "")) />
                                @educationStream.Name
                            </div> 
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label checkbox">Subjects</label>
                    <div class="col-sm-10">

                        @foreach (APLA.Models.Subject subject in ViewBag.Subjects)
                        {
                            <div class="controls">
                                <input type="checkbox" name="selectedSubjects" value="@subject.Id"  
                                             @(Html.Raw(subject.Teachers.Contains(Model) ? "checked=\"checked\"" : "")) />
                                @subject.Name
                            </div>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Institutes</label>
                    <div class="col-sm-7">
                        <table id="div_Ins" class="table table-hover">
                            <tr class="success">
                                <th>
                                    <label>Name</label>
                                </th>
                                <th>
                                    <label>City</label>
                                </th>
                                <th>
                                    <input type="button" class="BtnPlus" value="+" /></th>
                            </tr>
                            @foreach (APLA.Models.Institute institute in Model.Institutes)
                            {
                                <tr class="info">
                                    <td>
                                        <input type="text" class="Ins" id="Ins" name="Ins" value="@institute.Name" />
                                    </td>
                                    <td>
                                        <input type="text" class="Ins_city" id="Ins_city" name="Ins_city" value="@institute.City.CityName" />
                                    </td>
                                    <td>
                                        <input type="button" class="BtnMinus" value="-" />
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Occupations</label>
                    <div class="col-sm-10">
                        @foreach (APLA.Models.Occupation occupation in ViewBag.Occupations)
                        {
                            <div class="controls">
                                <input type="checkbox" name="selectedOccupations" value="@occupation.Id"  
            @(Html.Raw(occupation.Teachers.Contains(Model) ? "checked=\"checked\"" : "")) />
                                @occupation.Name

                            </div>
                        }
                    </div>
                </div>

                <div class="form-horizontal">
                <legend>
                    <h6>Social Media Link</h6>
                </legend>
                <div class="form-group">
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.facebook, new { @class = "control-label" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.facebook, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.facebook)</p>
                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.googlePlus, new { @class = "control-label" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.googlePlus, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.googlePlus)</p>
                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.twitter, new { @class = "control-label" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.twitter, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.twitter)</p>
                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.youTube, new { @class = "control-label" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.youTube, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.youTube)</p>
                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.linkedIn, new { @class = "control-label" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.linkedIn, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.linkedIn)</p>
                    </div>
                </div>
            </div>

            </div>

        
            <div class="col-xs-6 col-sm-6 col-md-6 column">


                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentDistrictId, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-7">
                        @Html.DropDownList("CurrentDistrictId", (SelectList)ViewBag.CurrentDistrict, new { @id = "CurrentDistrictId", @onchange = "javascript:GetCurCity(this.value);", @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.CurrentDistrictId) </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Current City</label>
                    <div class="col-sm-7">
                        @Html.DropDownList("CurrentCityId", (SelectList)ViewBag.CurrentCity, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.CurrentCityId) </p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PermanentDistrictId, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-7">
                        @Html.DropDownList("PermanentDistrictId", (SelectList)ViewBag.PermanentDistrict, new { @id = "PermanentDistrictId", @onchange = "javascript:GetPerCity(this.value);", @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.PermanentDistrictId) </p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentCityId, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-7">
                        @Html.DropDownList("PermanentCityId", (SelectList)ViewBag.PermanentCity, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.PermanentCityId)</p>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-4 control-label">Current Lane</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.CurrentLane, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.CurrentLane)</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Permanent Lane</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.PermanentLane, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.PermanentLane)</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Residance Phone No</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.Pho_R, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Pho_R)</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Mobile Phone No <a style="color: red">*</a></label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.Pho_M, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Pho_M)</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Office Phone No</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.Pho_O, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Pho_O)</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Nationality</label>
                    <div class="col-sm-7">
                        @Html.DropDownList("RaceId", (SelectList)ViewBag.Race, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Race)</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ReligionId, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-7">
                        @Html.DropDownList("ReligionId", (SelectList)ViewBag.Religion, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Religion) </p>
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.DisplayNameFor(model => model.facebook)
                    @Html.TextBoxFor(model => model.facebook, new { @class = "form-control" })
                    <p class="alert-danger">@Html.ValidationMessageFor(model => model.facebook)</p>
                    @Html.DisplayNameFor(model => model.googlePlus)
                    @Html.TextBoxFor(model => model.googlePlus, new { @class = "form-control" })
                    <p class="alert-danger">@Html.ValidationMessageFor(model => model.googlePlus)</p>
                    @Html.DisplayNameFor(model => model.twitter)
                    @Html.TextBoxFor(model => model.twitter, new { @class = "form-control" })
                    <p class="alert-danger">@Html.ValidationMessageFor(model => model.twitter)</p>
                    @Html.DisplayNameFor(model => model.youTube)
                    @Html.TextBoxFor(model => model.youTube, new { @class = "form-control" })
                    <p class="alert-danger">@Html.ValidationMessageFor(model => model.youTube)</p>
                    @Html.DisplayNameFor(model => model.linkedIn)
                    @Html.TextBoxFor(model => model.linkedIn, new { @class = "form-control" })
                    <p class="alert-danger">@Html.ValidationMessageFor(model => model.linkedIn)</p>
                </div>*@

            </div>
       
      
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success" value="Save">Save</button>
                    <a class="btn btn-default" href="@Url.Action("Index", "Home")">Cancel</a>
                </div>
            </div> 

    
        }

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if (jQuery.ui) {

        }
        $("#partnerdiv").hide();

        var autocomp_opt = {
            source: function (request, response) {
                $.ajax({
                    url: "/PublicTeacher/AutoCompleteInstitute",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        };

        var autocomp_opt1 = {
            source: function (request, response) {
                $.ajax({
                    url: "/PublicTeacher/AutoCompleteCity",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.CityName, value: item.CityName };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        };

        $(".Ins").autocomplete(autocomp_opt);

        $(".Ins_city").autocomplete(autocomp_opt1);

        $("#IsMarried").change(function (event) {
            if (this.checked) {
                $("#partnerdiv").show();
            }
            else {
                $("#partnerdiv").hide();
            }
        });

        $("#PartnerBday").datepicker();

        $("#Bday").datepicker();

        $(".Bday").datepicker();

        function addRow() {
            var html =
                '<tr>' +
                '<td><input type="text" id="names" name="names"/></td>' +
                '<td><input type="text" class="Bday" id="bdays" name="bdays"/></td>' +
                '<td><input type="button" class="BtnMinus" value="-" /></td>' +
                '</tr>'
            $(html).appendTo($("#Table1"))
        };
        $("#Table1").on("click", ".BtnPlus", addRow);
        function deleteRow() {
            var par = $(this).parent().parent();
            par.remove();
        };
        $("#Table1").on("click", ".BtnMinus", deleteRow);

        function addRowI() {
            var html =
                '<tr>' +
                '<td><input type="text" class="Ins" id="Ins" name="Ins"/></td>' +
                '<td><input type="text" class="Ins_city" id="Ins_city" name="Ins_city"/></td>' +
                '<td><input type="button" class="BtnMinus" value="-" /></td>' +
                '</tr>'
            $(html).appendTo($("#div_Ins"))
            $(".Ins").autocomplete(autocomp_opt);
            $(".Ins_city").autocomplete(autocomp_opt1);
        };
        $("#div_Ins").on("click", ".BtnPlus", addRowI);
        function deleteRowI() {
            var par = $(this).parent().parent();
            par.remove();
        };
        $("#div_Ins").on("click", ".BtnMinus", deleteRowI);

    });

    function GetCurCity(_districtid) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#CurrentCityId").html(procemessage).show();
        var url = "/PublicTeacher/GetCityByDisId/";

        $.ajax({
            url: url,
            data: { districtid: _districtid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select City</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#CurrentCityId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

    function GetPerCity(_districtid) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#PermanentCityId").html(procemessage).show();
        var url = "/PublicTeacher/GetCityByDisId/";

        $.ajax({
            url: url,
            data: { districtid: _districtid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select City</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#PermanentCityId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
