﻿@{
    ViewBag.Title = "Events";
}

<style>
        .img12{
    width:100%;
    height: 100%;
}
</style>

<div class="container">
    <div>
    <a href="~/guru_geethaya.mp3" target="_blank">Download Theme Song</a>
        </div>
    <hr class="featurette-divider">
    <div>
        <a href="~/diri_sawiya_application.pdf" target="_blank">Download Donation Application</a>
    </div>
    <hr class="featurette-divider">
    <img class="img12" src="~/Content/images/Events1.PNG" />
    <br/>
    <hr class="featurette-divider">
    <img class="img12" src="~/Content/images/Events2.PNG" />
    </div>
