﻿@*@model PagedList.IPagedList<APLA.Models.Teacher>*@
@model IEnumerable<APLA.Models.Teacher>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@*<div class="container">
    <div class="row">
        <legend>Teacher List</legend>

        @using (Html.BeginForm("SeachTeacher", "PublicTeacher", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="input-group">
               Find by Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder="Search"})
                 <span class="">
                            <input class="btn btn-default" type="submit" value="Search" />
                 </span>
            </div>   
        }

     <table class="table table-bordered table-striped">
					<tr>
						<th style="text-align: center">Profile Image</th>
						<th style="text-align: center">Reg No</th>
						<th style="text-align: center">Name</th>
						<th style="text-align: center">View Profile</th>
					</tr>
    
@foreach (var item in Model)
{
    <tr>
        <td>
          @{
            var imgPath = Directory.EnumerateFiles(Server.MapPath(@"~/Images/ProfileImages/"), "*.*", SearchOption.AllDirectories).Where(s => s.Contains(item.RegNo));
                if(imgPath!=null && imgPath.Count()>0){

                            var img = new FileInfo(imgPath.First());
                            if(img!=null){
                                <img src="@Url.Content(String.Format("~/Images/ProfileImages/{0}",img.Name))" width="50" height="50" />
                            }

                 }
           }

            </td>

    <td>
        
       <div class="controls"> @Html.Label(item.RegNo) 
           </div>
    </td>

     <td>
        
    
        <div class="controls">@Html.Label(item.Name+" "+item.CommonName+" "+item.FullName)</div>
    </td>
        <td class="col-sm-1">
         <a class="btn btn-warning" @Html.ActionLink("View Details", "TeacherDetails", new {id=item.Id })
            </td>
    
    
        </tr>
    
}
  </table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("SeachTeacher",new {page,currentFilter = ViewBag.CurrentFilter}))
</div>
</div>*@

@using GridMvc.Html

<div class="container">
    <div class="row">
@Html.Grid(Model).Columns(columns =>
          {
              columns.Add(t => t.RegNo).Titled("Reg No").SetWidth(200).Sortable(true).Filterable(true);
              columns.Add(t => t.CommonName).Titled("First Name").SetWidth(200).Sortable(true).Filterable(true);
              columns.Add(t => t.FullName).Titled("Last Name").SetWidth(200).Sortable(true).Filterable(true);
              columns.Add(t => t.Subjects.First().Name).Titled("Subject").SetWidth(200).Sortable(true).Filterable(true);
              columns.Add().Titled("Options").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("View Details", "TeacherDetails", "PublicTeacher", new { id = o.Id, page = ViewBag.Page }, new { @class="btn btn-info"}).ToHtmlString());
          }).WithPaging(10)


    </div>

</div>
