﻿@model APLA.Models.Teacher

@{
    ViewBag.Title = "TeacherDetails";
}

<style>
    .form-horizontal .controls {
    margin-left: 180px;
    margin-top: 5px;
}
    .profile_form {/*
        margin-left:auto;
        margin-right:auto;
        width:50%;*/
    }
   
    .profile_img 
    {
        	background-position: right;
            margin-bottom:30px; width:100px;
        height:100px;
    }
    .profile_details
    {
        margin-top:5px;
    }
    .control-label {
        font-weight:bold;
    }
     .timetable_div {
        padding-top:20px;
        background-color:#F5F5F5;
    }
    
</style>
<div class="container">
<div class="row">
    <h3 style="color:#005CFE;text-align:center">Teacher Details</h3> <br />
    <legend>Search Teacher</legend>
     <div class="col-xs-2">
       <div class="profile_img">

        @{
                var imgPath = Directory.EnumerateFiles(Server.MapPath(@"~/Images/ProfileImages/"), "*.*", SearchOption.AllDirectories).Where(s => s.Contains(Model.RegNo));
                if(imgPath!=null && imgPath.Count()>0){

                            var img = new FileInfo(imgPath.First());
                            if(img!=null){
                                <img src="@Url.Content(String.Format("~/Images/ProfileImages/{0}",img.Name))" width="100" height="100" />
                            }

                 }
        }
        </div>
    </div>
    <form class="form-horizontal">
    <div class="col-xs-6">
    <div class="form-group">
        <label class="col-sm-4 control-label">Reg No :</label>
       <div class="col-sm-7 profile_details has-success"> 
           @Html.DisplayFor(model => model.RegNo, new { @class="form-control"}) 
           </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Name :</label>
        <div class="col-sm-7 profile_details">
            @Html.Label((string)ViewBag.Name)
        </div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-4 control-label">Email :</label>
        <div class="col-sm-7 profile_details">
            @Html.DisplayFor(model => model.Email, new { @class="form-control"})
        </div>
        </div> 

        <div class="form-group">
        <label class="col-sm-4 control-label">Mobile Phone :</label>
        <div class="col-sm-7 profile_details">
            @Html.DisplayFor(model => model.Pho_M, new { @class="form-control"})
        </div>
        </div>

         
         
        <div class="form-group">
        <label class="col-sm-4 control-label">Current Address :</label>
        <div class="col-sm-7 profile_details">
            @Html.Label((string)ViewBag.CurrentAddress)
        </div>
        </div> 

        <div class="form-group">
        <label class="col-sm-4 control-label">Permanent Address :</label>
        <div class="col-sm-7 profile_details">
            @Html.Label((string)ViewBag.permanentAddress)
        </div>
        </div>

        <div class="form-group">
        <label class="col-sm-4 control-label">Subjects :</label>
        <div class="col-sm-7 profile_details">
            @foreach (var subject in Model.Subjects){
                <label>@subject.Name</label>
            }
        </div>
        </div>

         <div class="form-group">
        <label class="col-sm-4 control-label">Social Media :</label>
        <div class="col-sm-7 profile_details">
             @if (!string.IsNullOrEmpty(Model.facebook))
                         {
                             <a href="@Model.facebook" target="_blank">
                                 <img src="~/slideshow/fb2.png" width="25" height="25" /></a>
                         }

                         @if (!string.IsNullOrEmpty(Model.twitter))
                         {
                             <a href="@Model.twitter" target="_blank">
                                 <img src="~/slideshow/t2.png" width="25" height="25" /></a>
                         }

                         @if (!string.IsNullOrEmpty(Model.googlePlus))
                         {
                             <a href="@Model.googlePlus" target="_blank">
                                 <img src="~/slideshow/g1.png" width="25" height="25" /></a>
                         }

                         @if (!string.IsNullOrEmpty(Model.linkedIn))
                         {
                             <a href="@Model.linkedIn" target="_blank">
                                 <img src="~/slideshow/linkedin.png" width="25" height="25" /></a>
                                 
                         }
                         @if (!string.IsNullOrEmpty(Model.youTube))
                         {
                             <a href="@Model.youTube" target="_blank">
                                 <img src="~/slideshow/u1.png" width="25" height="25" /></a>
                         }
        
        </div>
        </div>

    </div>
        </form>
</div>
    <div class="col-xs-9">
        @Html.Partial("_TeacherTimeTables",(IEnumerable<APLA.Models.TimeTable>)ViewBag.TimeTables)
    </div>
</div>
    

<div class="container">
 @*   <a class="btn btn-info" @Html.ActionLink("Back", "SeachTeacher", "PublicTeacher",new { grid=ViewBag.Page },null) *@
    <div class="row">
    <a class="btn btn-info" href="/PublicTeacher/SeachTeacher?grid-page=@ViewBag.Page">Back</a> 
        </div>
</div>

