﻿@model APLA.Models.District

@{
    ViewBag.Title = "Delete District";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>District</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DistrictName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DistrictName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
