﻿@model APLA.Models.TimeTable

@{
    ViewBag.Title = "Add Time Table Entry";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>

    .subject_divs {
    }
    .form-group {
   /* margin-bottom: 40px;*/
}
    select, textarea, input[type="text"], input[type="password"],input[type="time"] {
        height:35px;
    }
    .timetable_div {
        background-color:#F5F5F5;
    }
</style>
<div class="container">
    <div class="row">
        <h2 style="text-align:center;color:#94ea66">@ViewBag.Title</h2> <br />
@using (Html.BeginForm("Create", "TimeTable", FormMethod.Post, new { @class = "form-horizontal timetable_div" }))
{
    @Html.ValidationSummary(true)
    
        <legend>TimeTable</legend>

       <div class="col-xs-6 col-sm-6 col-md-6 column">
          <div class="form-group">
             <label class="col-sm-4 control-label">Year</label>
          <div class="col-sm-7">
              @Html.DropDownListFor(model => model.year, (SelectList)ViewBag.Years)
              <p class="alert-danger">@Html.ValidationMessageFor(model => model.year)</p>
          </div>
          </div>

           <div class="form-group">
             @Html.LabelFor(model => model.SubjectId, "Subject", new { @class="col-sm-4 control-label"})
          <div class="col-sm-7">
               @Html.DropDownList("SubjectId", String.Empty)
              <p class="alert-danger"> @Html.ValidationMessageFor(model => model.SubjectId)</p>
          </div>
          </div>

           <div class="form-group">
             @Html.LabelFor(model => model.Day,"Day", new { @class="col-sm-4 control-label"})
          <div class="col-sm-7">
              @Html.DropDownListFor(model => model.Day, (SelectList)ViewBag.Days)
              <p class="alert-danger"> @Html.ValidationMessageFor(model => model.Day)</p>
          </div>
          </div>

           <div class="form-group">
            <label class="col-sm-4 control-label">Venue <a style="color:red">*</a></label>
          <div class="col-sm-7">
              @Html.EditorFor(model => model.Venue)
              <p class="alert-danger">@Html.ValidationMessageFor(model => model.Venue)</p>
          </div>
          </div>

       </div>
    <div class="col-xs-6 col-sm-6 col-md-6 column">
        <div class="form-group">
            <label class="col-sm-4 control-label">Education Stream</label>
        <div class="col-sm-7">
            @Html.DropDownList("EducationStreamId", (SelectList)ViewBag.EducationStreamId, new { @id = "EducationStreamId", @onchange = "javascript:GetSubjects(this.value);" })
            <p class="alert-danger">@Html.ValidationMessageFor(model => model.EducationStreamId)</p>
        </div>
        </div>
         <div class="form-group">
            @Html.LabelFor(model => model.ClassTypeId, "Class Type", new { @class="col-sm-4 control-label"})
        <div class="col-sm-7">
            @Html.DropDownList("ClassTypeId", String.Empty)
            <p class="alert-danger">@Html.ValidationMessageFor(model => model.ClassTypeId)</p>
        </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Time <a style="color:red">*</a></label>
        <div class="col-sm-7">
            @Html.EditorFor(model => model.time)
            <p class="alert-danger">@Html.ValidationMessageFor(model => model.time)</p>
        </div>
        </div>
    </div>
       

        
    <br />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
       <button type="submit" class="btn btn-success" value="Create">Create</button> 
              <a class="btn btn-default" @Html.ActionLink("Back to List", "Index") 
            </div>
            </div><br /> <br /> <br />
}
        </div></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#time').timepicker();
    });

    function GetSubjects(streamId) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#SubjectId").html(procemessage).show();
        var url = "/TimeTable/GetSubjects/";

        $.ajax({
            url: url,
            data: { sreamId: streamId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select Subject</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#SubjectId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }

</script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
