﻿@model APLA.Models.TimeTable

@{
    ViewBag.Title = "Delete Time Table";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container">
    <div class="row">
<h2>@ViewBag.Title</h2>

<h4 class="alert alert-error">Are you sure you want to delete this Time Table List?</h4>
<div class="form-actions">
@using (Html.BeginForm()) {
    <p style="text-align:center">
        <button type="submit" class="btn btn-danger" value="Delete">Yes</button> &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-default" @Html.ActionLink("No", "Index")
    </p>
}
    </div>
        </div></div>
