/*  Home page User layout and main layout*/
.home_con {
    margin-top:20px;
}
.navbar .nav {/*
    margin: 0px 0px 0px 0px;*/
}
 #greywrap {
        height:150px;
        width:100%;
        border:0px solid red;
    }
    .jumbotron {
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #EEE;
}
    .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
    /*.col-xs-4 {
        width: 33.3333%;
        float:right;
    }*/

p.footer{
		text-align: center;
		font-size: 13px;
		border-top: 0px solid #D0D0D0;
		line-height: 20px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
        }
            h4 {
                margin: 10px 30px;
            }
footer {
   
    background-color: #494949;
    color: #DDD;
    min-height: 50px;
    padding-top: 20px; 
background-repeat: repeat-x;
border: 1px solid #D4D4D4;
border-radius: 4px;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
}
         .masthead {
            color:#FFFFFF;
            background-image:url("http://i.imgur.com/CtWlB0v.jpg?1");
            background-repeat:no-repeat;
            height:200px;
        }
           /* #logoutForm {                
                text-align:end;
                font-size: 11px;
            }
            .loginFodrm {
            margin-left:500px;
            
            }*/
            
            .col-md-3 {
    width: 33.3333%;float: left;
}
            .navbar-footer {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    /*background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #2C0909, #F2F2F2);*/
    background-repeat: repeat-x;
    border: 0px solid #D4D4D4;
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
}
            .logo {
                border:0px red solid;
                margin-bottom:30px;
                margin-top: 20px;
                background-image:url("../slideshow/topbanner.png");
                background-size: 100% 100%;
                background-repeat:no-repeat;
                text-align:center;
                margin-left:15px;
                height:150px;

            }
          /*  ul.inline, ol.inline {
    
    margin: 35px;
}*/
 .content-wrapper {
            margin-top:30px;
            margin-bottom: 60px;
            }
			
			/* ------------------------------End main layout-----------------------------------------------------*/
	/*About us*/

#about{
	padding:10px;
	font-size:16px;
	font-family:Times New Roman, Times, serif;
	text-align:justify;
}

/*End about us*/

/* Contact US */

.con_details {

    }
    .in-main-heading {
    font-family: "bariol_regular";
    line-height: 43px;
    font-weight: normal !important;
}
.color-high {
    color: #F50000;
}
.text-shadow-white {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}.iconize {
    font-size: 50px;
    font-family: "Source_Sans";
    letter-spacing: -16px;
}
.color-high {
    color: #A3B3ED;
    text-align:center;
}.color-dark {
    color: #000;
}.big-one {
    font-size: 50px;
}
.add-left-half {
    margin-left: 10px !important;
}

#tune_in
{
width:auto;
height:100%;
border:0.2px solid red;
background-repeat:no-repeat;
}
    
#contact_info_box
{ border:0.2px solid red;
margin-left:5%;
width:40%;
height:30%;
background-color:none;
}

/*--------------------End Contact US ----------------------------------*/

	/*Social media on contact us page*/

    .social_box{
        margin-left:auto;
        margin-right:auto;
        border:0px blue solid;
	width:200px;
	height:20%;
	margin-top:10%;
	background:transparent;
	opacity:1;
    display:inline;
    background-size: 100% 100%;
}
#twt{
	background-image: url('Content/images/t1.png') no-repeat ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100% 100%;
}
#fb{
background: url('../images/social_media/fb1.png') no-repeat ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100% 100%;
}
#pin{
background: url('../images/social_media/g1.png') no-repeat ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100% 100%;
}
#you{
background: url('../images/social_media/u1.png') no-repeat ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100% 100%;
}

#twt:hover ,#fb:hover, #pin:hover, #you:hover{
-webkit-transition:All 0.5s ease;
-moz-transition:All 0.5s ease;
-o-transition:All 0.5s ease;
opacity:0.5;
}
/*
#twt:hover{

	background: url('images/t2.png') no-repeat ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100% 100%;
}
#fb:hover{
background: url('images/fb2.png') no-repeat ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100% 100%;
}
#pin:hover{
background: url('images/g2.png') no-repeat ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100% 100%;
}
#you:hover{
background: url('images/u2.png') no-repeat ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100% 100%;
}

*/
#social_media
{
   
	margin-top:10%;
}
#map
{
   
	margin-top:10%;
}