﻿@model IEnumerable<APLA.Models.District>

@{
    ViewBag.Title = "District List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@{       
   var grid = new WebGrid(source: Model,
                defaultSort: "DistrictName",
                rowsPerPage: 20);
}
<style type="text/css">
  .grid { margin: 4px; border-collapse: collapse; width: 50%;  margin-bottom: 20px; }
  .grid th, .grid td { border: 1px solid #C0C0C0; padding: 5px; }
  .head { background-color: #E8E8E8; font-weight: bold; color: #000000; }
   .alt { background-color: #E8E8E8; color: #000; }
    .btn_delete {
        width:40%;
        text-align:center;
    }
</style>
<div class="container">
     <div class="row">
        <div class="container-fluid">
    <h2 style="text-align:center;color:#76BCF8">@ViewBag.Title</h2>
    <p> 
        <a class="btn btn-success"  @Html.ActionLink("Create New", "Create") </a>
</p>
    @grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column("DistrictName"),
            grid.Column(header: "Action",format: (item) => (User.IsInRole("SuperAdmin")) ? new HtmlString(Html.ActionLink("Delete", "Delete", new { id = item.Id } ).ToString()) : Html.Raw(""),style:"btn_delete")
        )
    )
</div></div></div>


