﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>@ViewBag.Title - APLA</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/Content/bootnew/bootstrap.min.css">
        <link href="~/Content/bootstrap-old.css" rel="stylesheet">
       <!-- <link href="~/Content/bootstrap.min.css" rel="stylesheet"> -->
        @Styles.Render("~/Content/bootstrapcss")
        @Scripts.Render("~/bundles/bootstrapjs")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")

	<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>

        <style>
            .style_home_header {
                background-color:#fff;
            }
            .marketing .col-lg-4 {
                margin-bottom: 20px;
                text-align: center;
            }
            .navbar {
            margin-bottom: 10px;
            margin-top:-20px;
            overflow: visible;
        }
        </style>
    </head>
    <body>
        <div class="container">
          <div class="row">
            <div class="container-fluid">
                <div class="row">
                <div class="logo">
                </div>
                </div>
            </div>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        
                     </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left inline">
                            <li class="inline">@Html.ActionLink("Home", "Index", "Home") </li>
                            <li class="inline">@Html.ActionLink("About", "About", "Home")</li>
                            <li class="inline">@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li class="inline">@Html.ActionLink("Members", "SeachTeacher", "PublicTeacher")</li>
                            <li class="inline">@Html.ActionLink("Events", "Events", "PublicTeacher")</li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right inline">
                            
                    <li>
                        @Html.Partial("_LoginPartial")
                    </li>
                            </ul>
                        
                      </div><!--/.nav-collapse -->

                   
             
                    </div><!--/.container-fluid -->
              </nav>
            </div>
        </div>                      
                      
           
                @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        
                   
       <div class="container">
            <div class="row">
                 <footer>
        <div class="col-xs-6 col-sm-6 col-md-3 column">          
              <h4>Main Links</h4>
              <ul class="navbar-footer">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Members", "SeachTeacher", "PublicTeacher")</li>
              </ul> 
            </div>
          <div class="col-xs-6 col-md-3 column">          
              <h4>Follow Us</h4>
              <ul class="navbar-footer">
                <li><a href="https://twitter.com/APLASL" target="_blank">Twitter</a></li>
                <li><a href="https://www.facebook.com/pages/All-Island-Professional-LecturersAssociation/822559931125012" target="_blank">Facebook</a></li>
                <li><a href="https://plus.google.com/u/1/117072574444055090960/posts" target="_blank">Google+</a></li>
                <li><a href="https://www.youtube.com/channel/UCzQwRXZz7ZmvTvbG2lYDteQ" target="_blank">Youtube</a></li>
              </ul> 
          </div>
          <div class="col-xs-6 col-md-3 column">          
              <h4>Contact Us</h4>
              <ul class="navbar-footer">
                <li>Email : info@aplasl.com</li>
                <li>Address : NO 82/3, GALLE ROAD, COLOMBO 04, SRI LANKA.</li>
                <li>Telephone : (+94) 11 3182052</li>
                <li>Fax :  (+94) 11 2617767</li>
              </ul> 
          </div>
     <p class="footer">Copyright &copy; @DateTime.Now.Year - Powerd by <strong><a href="http://www.tuitionlanka.lk/" target="_blank">Tuition Lanka</a></strong> </br>
        All Rights Reserved.
        </p>
      </footer>
        </div>
           </div>
        @RenderSection("scripts", required: false)
    </body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</html>
