﻿
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - APLA</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/Content/bootnew/bootstrap.min.css"> 
        <link href="~/Content/bootstrap-old.css" rel="stylesheet">   
        @Styles.Render("~/Content/bootstrapcss")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrapjs")
        @Scripts.Render("~/bundles/print")
        
        <style>
            .style_home_header {
                background-color:#fff;
            }
            .marketing .col-lg-4 {
                margin-bottom: 20px;
                text-align: center;
            }
             .navbar {
            margin-bottom: 10px;
            margin-top:-20px;
            overflow: visible;
        }
        </style>
    </head>
    <body>
       <div class="container">
          <div class="row">
            <div class="container-fluid">
                <div class="row">
                <div class="logo">
                </div>
                </div>
            </div>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        
                     </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left inline">
                            <li class="inline"><a @Html.ActionLink("User Profile", "Details", "PublicTeacher") </li>
                            <li class="inline"><a @Html.ActionLink("My TimeTable", "Index", "TimeTable")</li>
                            <li class="inline"><a @Html.ActionLink("Change Password", "Manage", "Account")</li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right inline">
                            
                    <li>
                        @Html.Partial("_LoginPartial")
                    </li>
                            </ul>
                      </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
              </nav>
            </div>
        </div>                      
                
                @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
           
           <div class="container">
            <div class="row">
                 <footer>
        <!--<div class="col-xs-6 col-sm-6 col-md-3 column">          
              <h4>Information</h4>
              <ul class="navbar-footer">
                <li><a href="#">Products</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Benefits</a></li>
                <li><a href="#">Developers</a></li>
              </ul> 
            </div>
          <div class="col-xs-6 col-md-3 column">          
              <h4>Follow Us</h4>
              <ul class="navbar-footer">
                <li><a href="https://twitter.com/APLASL" target="_blank">Twitter</a></li>
                <li><a href="https://www.facebook.com/pages/All-Island-Professional-LecturersAssociation/822559931125012" target="_blank">Facebook</a></li>
                <li><a href="https://plus.google.com/u/1/117072574444055090960/posts" target="_blank">Google+</a></li>
                <li><a href="https://www.youtube.com/channel/UCzQwRXZz7ZmvTvbG2lYDteQ" target="_blank">Youtube</a></li>
              </ul> 
          </div>
          <div class="col-xs-6 col-md-3 column">          
              <h4>Contact Us</h4>
              <ul class="navbar-footer">
                <li><a>Email</a></li>
                <li><a href="#">Headquarters</a></li>
                <li><a href="#">Management</a></li>
                <li><a href="#">Support</a></li>
              </ul> 
          </div> -->
     <p class="footer">Copyright &copy; @DateTime.Now.Year - Powerd by <strong><a href="http://www.tuitionlanka.lk/" target="_blank">Tuition Lanka</a></strong> </br>
        All Rights Reserved.
        </p>
      </footer>
        </div>
           </div>
        @RenderSection("scripts", required: false)
    </body>
</html>
