﻿@model APLA.Models.Teacher

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Create New Teacher";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Teacher</legend>

        <div class="editor-label">
            @Html.Label("Your Registration No")
        </div>
        <div class="editor-field">
            <input type="text" value="@ViewBag.Reg" id="regNo" name="regNo" readonly="true" />
        </div>

        <div class="editor-label">
            @Html.Label("UserName")
        </div>
        <div class="editor-field">
            <input type="text" id="username" name="username" />
            <label id="lbluser"></label>
        </div>

        <div class="editor-label">
            @Html.Label("Password")
        </div>
        <div class="editor-field">
            <input type="text" id="password" name="password" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CommonName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CommonName)
            @Html.ValidationMessageFor(model => model.CommonName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FullName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FullName)
            @Html.ValidationMessageFor(model => model.FullName)
        </div>

        <div class="editor-label">
            @Html.Label("Select Current District")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CurrentDistrictId", (SelectList)ViewBag.DistrictId, new { @id = "CurrentDistrictId", @onchange = "javascript:GetCurCity(this.value);" })
            @Html.ValidationMessageFor(model => model.CurrentDistrictId)
        </div>

        <div class="editor-label">
            @Html.Label("Select Current City")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CurrentCityId", (SelectList)ViewBag.CityId)
            @Html.ValidationMessageFor(model => model.CurrentCityId)
        </div>

        <div class="editor-label">
            @Html.Label("Select Current Lane")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurrentLane)
            @Html.ValidationMessageFor(model => model.CurrentLane)
        </div>

        <div class="editor-label">
            @Html.Label("Select Permanent District")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PermanentDistrictId", (SelectList)ViewBag.DistrictId, new { @id = "PermanentDistrictId", @onchange = "javascript:GetPerCity(this.value);" })
            @Html.ValidationMessageFor(model => model.PermanentDistrictId)
        </div>

        <div class="editor-label">
            @Html.Label("Select Permanent City")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PermanentCityId", (SelectList)ViewBag.CityId)
            @Html.ValidationMessageFor(model => model.PermanentCityId)
        </div>

        <div class="editor-label">
            @Html.Label("Select Permanent Lane")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PermanentLane)
            @Html.ValidationMessageFor(model => model.PermanentLane)
        </div>

        <div class="editor-label">
            @Html.Label("Residance Phone No")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pho_R)
            @Html.ValidationMessageFor(model => model.Pho_R)
        </div>

        <div class="editor-label">
            @Html.Label("Office Phone No")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pho_O)
            @Html.ValidationMessageFor(model => model.Pho_O)
        </div>

        <div class="editor-label">
            @Html.Label("Mobile Phone No")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pho_M)
            @Html.ValidationMessageFor(model => model.Pho_M)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bday)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bday)
            @Html.ValidationMessageFor(model => model.Bday)
        </div>

        <div class="editor-label">
            @Html.Label("Enter National Id no")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NationalId)
            @Html.ValidationMessageFor(model => model.NationalId)
        </div>

        <div class="editor-label">
            @Html.Label("Nationality")
        </div>
        <div class="editor-field">
            @Html.DropDownList("RaceId", (SelectList)ViewBag.RaceId)
            @Html.ValidationMessageFor(model => model.Race)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Religion)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ReligionId", (SelectList)ViewBag.ReligionId)
            @Html.ValidationMessageFor(model => model.Religion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsMarried)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsMarried)
            @Html.ValidationMessageFor(model => model.IsMarried)
        </div>

        <div id="partnerdiv">

            <div class="editor-label">
                @Html.LabelFor(model => model.PartnerName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PartnerName)
                @Html.ValidationMessageFor(model => model.PartnerName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PartnerBday)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PartnerBday)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IsPartnerWorking)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsPartnerWorking)
                @Html.ValidationMessageFor(model => model.IsPartnerWorking)
            </div>

        </div>

        @Html.Label("Education Streams")
        @foreach (APLA.Models.EducationStream stream in ViewBag.EducationStreams)
        {
            <div style="clear:both">
                <label>@stream.Name</label>
                <input type="checkbox" id="c@(stream.Id)" name="c@(stream.Id)" class="streams"/>
                <div class="subject_divs" id="d@(stream.Id)" style="clear:both">
                @foreach (APLA.Models.Subject subject in stream.Subjects)
                {
                    <div style="width:200px;float:left">
                        <label>@subject.Name</label>
                        <input type="checkbox" id="s@(subject.Id)" name="s@(subject.Id)" class="subjects"/>
                    </div>
                }
                </div>
            </div>
        }

        <br style="clear:both" />

        @Html.Label("Select Institutes")
        @foreach (APLA.Models.Institute institute in ViewBag.Institutes)
        {
                 <div style="width:200px;float:left">
                       <label>@institute.Name</label>
                       <input type="checkbox" id="i@(institute.Id)" name="i@(institute.Id)" class="subjects"/>
                 </div>
        }

        <br style="clear:both" />

        @Html.Label("Select Other Occupations")
        @foreach (APLA.Models.Occupation occupation in ViewBag.Occupations)
        {
                 <div style="width:200px;float:left">
                       <label>@occupation.Name</label>
                       <input type="checkbox" id="o@(occupation.Id)" name="o@(occupation.Id)" class="subjects"/>
                 </div>
        }

        <br style="clear:both" />

        @Html.Label("No of Children")
        <input type="text" id="NoOfChild" name="NoOfChild" />

        <div id="childrenList"></div>

        <div style="clear:both" id="children">
            @Html.Label("Name")
            <input type="text" id="names" name="names" />
            @Html.Label("Birthday")
            <input type="text" class="Bday" id="bdays" name="bdays" />
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if (jQuery.ui) {
            //alert('loaded');
        }

        $("#partnerdiv").hide();

        $("#PartnerBday").datepicker();
        $("#Bday").datepicker();

        $(".Bday").datepicker();

        $(".streams").change(function (event) {
            var ids = event.target.id;
            var id = ids.substring(1);
            if (this.checked) {
                 $("#d" + id).show();
            }
            else {
                $("#d" + id).hide();
            }
        });

        $("#IsMarried").change(function (event) {
            if (this.checked) {
                $("#partnerdiv").show();
            }
            else {
                $("#partnerdiv").hide();
            }
        });

        $(".subject_divs").hide();

        $("#NoOfChild").keyup(function () {
            $("#childrenList").contents().remove();
            if ($("#NoOfChild").val() == 0) {
                $("#children").hide();
            }
            for (var i = 1; i < $("#NoOfChild").val() ; i++) {
                $("#children").clone().prependTo("#childrenList");
            }
        });

        $('#username').on('input propertychange paste', function () {
            $.getJSON("/Teacher/CheckValidUserName", { userName: $("#username").val() },
              function (data, status) {
                  if (!data.valid) {
                      $('#username').val('');
                      $('#lbluser').val('Username already in use');
                  }
                  else {
                      $('#lbluser').val('');

                  }
              }
          );
        });

    });

    function GetCurCity(_districtid) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#CurrentCityId").html(procemessage).show();
        var url = "/Teacher/GetCityByDisId/";

        $.ajax({
            url: url,
            data: { districtid: _districtid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select City</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#CurrentCityId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

    function GetPerCity(_districtid) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#PermanentCityId").html(procemessage).show();
        var url = "/Teacher/GetCityByDisId/";

        $.ajax({
            url: url,
            data: { districtid: _districtid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select City</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#PermanentCityId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
