﻿@model APLA.Models.Teacher

@{
    ViewBag.Title = "Teacher Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Teacher</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CommonName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CommonName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FullName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullName)
    </div>

     <div class="display-label">
         @Html.Label("Current Address")
    </div>
    <div class="display-field">
        @Html.Label((string)ViewBag.CurrentAddress)
    </div>

    <div class="display-label">
         @Html.Label("Permanent Address")
    </div>
    <div class="display-field">
        @Html.Label((string)ViewBag.permanentAddress)
    </div>

    <div class="display-label">
         @Html.DisplayName("Residenace Phone")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pho_R)
    </div>

    <div class="display-label">
         @Html.DisplayName("Office Phone")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pho_O)
    </div>

    <div class="display-label">
         @Html.DisplayName("Mobile Phone")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pho_M)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bday)
    </div>
    <div class="display-field">
        @String.Format("{0:d}", Model.Bday)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NationalId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NationalId)
    </div>

    <div class="display-label">
         @Html.DisplayName("Nationality")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Race.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Religion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Religion.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsMarried)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsMarried)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PartnerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PartnerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PartnerBday)
    </div>
    <div class="display-field">
        @String.Format("{0:d}", Model.PartnerBday)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsPartnerWorking)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsPartnerWorking)
    </div>

    <div class="display-label">
         @Html.DisplayName("Education Streams")
    </div>

    @foreach (APLA.Models.EducationStream stream in Model.EducationStreams)
    {
        <label>@stream.Name</label>
    }

    <div class="display-label">
         @Html.DisplayName("Subjects")
    </div>

    @foreach (APLA.Models.Subject subject in Model.Subjects)
    {
        <label>@subject.Name</label>
    }

    <div class="display-label">
         @Html.DisplayName("Institutes")
    </div>

    @foreach (APLA.Models.Institute institute in Model.Institutes)
    {
        <label>@institute.Name</label>
    }

    <div class="display-label">
         @Html.DisplayName("Occupations")
    </div>

    @foreach (APLA.Models.Occupation occupation in Model.Occupations)
    {
        <label>@occupation.Name</label>
    }

    <div class="display-label">
         @Html.DisplayName("Children")
    </div>

    @foreach (APLA.Models.Children children in Model.Children)
    {
        <label>@children.Name</label>
    }

    @Html.DisplayFor( x => x.Occupations )


</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
