﻿@model APLA.Models.Teacher

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Teacher</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId)

        <div class="editor-label">
            @Html.LabelFor(model => model.RegNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegNo)
            @Html.ValidationMessageFor(model => model.RegNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CommonName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CommonName)
            @Html.ValidationMessageFor(model => model.CommonName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FullName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FullName)
            @Html.ValidationMessageFor(model => model.FullName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurrentDistrictId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("CurrentDistrictId", (SelectList)ViewBag.CurrentDistrict, new { @id = "CurrentDistrictId", @onchange = "javascript:GetCurCity(this.value);" })
            @Html.ValidationMessageFor(model => model.CurrentDistrictId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurrentCityId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("CurrentCityId", (SelectList)ViewBag.CurrentCity)
            @Html.ValidationMessageFor(model => model.CurrentCityId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurrentLane)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurrentLane)
            @Html.ValidationMessageFor(model => model.CurrentLane)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PermanentDistrictId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("PermanentDistrictId", (SelectList)ViewBag.PermanentDistrict,new { @id = "PermanentDistrictId", @onchange = "javascript:GetPerCity(this.value);" })
            @Html.ValidationMessageFor(model => model.PermanentDistrictId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PermanentCityId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("PermanentCityId", (SelectList)ViewBag.PermanentCity)
            @Html.ValidationMessageFor(model => model.PermanentCityId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PermanentLane)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PermanentLane)
            @Html.ValidationMessageFor(model => model.PermanentLane)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pho_R)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pho_R)
            @Html.ValidationMessageFor(model => model.Pho_R)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pho_O)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pho_O)
            @Html.ValidationMessageFor(model => model.Pho_O)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pho_M)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pho_M)
            @Html.ValidationMessageFor(model => model.Pho_M)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bday)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bday)
            @Html.ValidationMessageFor(model => model.Bday)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NationalId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NationalId)
            @Html.ValidationMessageFor(model => model.NationalId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RaceId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("RaceId", (SelectList)ViewBag.Race)
            @Html.ValidationMessageFor(model => model.RaceId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReligionId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ReligionId", (SelectList)ViewBag.Religion)
            @Html.ValidationMessageFor(model => model.ReligionId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsMarried)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsMarried)
            @Html.ValidationMessageFor(model => model.IsMarried)
        </div>

        <div id="partnerdiv">

        <div class="editor-label">
            @Html.LabelFor(model => model.PartnerName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PartnerName)
            @Html.ValidationMessageFor(model => model.PartnerName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PartnerBday)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PartnerBday)
            @Html.ValidationMessageFor(model => model.PartnerBday)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsPartnerWorking)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsPartnerWorking)
            @Html.ValidationMessageFor(model => model.IsPartnerWorking)
        </div>

        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back", "Details")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#partnerdiv").hide();

        $("#IsMarried").change(function (event) {
            if (this.checked) {
                $("#partnerdiv").show();
            }
            else {
                $("#partnerdiv").hide();
            }
        });
    });

    function GetCurCity(_districtid) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#CurrentCityId").html(procemessage).show();
        var url = "/Teacher/GetCityByDisId/";

        $.ajax({
            url: url,
            data: { districtid: _districtid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select City</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#CurrentCityId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

    function GetPerCity(_districtid) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#PermanentCityId").html(procemessage).show();
        var url = "/Teacher/GetCityByDisId/";

        $.ajax({
            url: url,
            data: { districtid: _districtid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select City</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#PermanentCityId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
