﻿@model IEnumerable<APLA.Models.Teacher>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Teacher List";
}

@{       
   var grid = new WebGrid(source: Model,
                defaultSort: "RegNo",
                rowsPerPage: 20);
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="grid">
    @grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column("RegNo"),
            grid.Column("CommonName"),
            grid.Column("FullName"),
            grid.Column("Pho_M"),
            grid.Column("Email"),
            grid.Column(header: "", format: item => new HtmlString(Html.ActionLink("Details", "Details", new { id = item.Id } ).ToString())),
            grid.Column(header: "", format: (item) => new HtmlString(Html.ActionLink("Edit", "Edit", new { id = item.Id }).ToString())),
            grid.Column(header: "",format: (item) => (User.IsInRole("SuperAdmin")) ? new HtmlString(Html.ActionLink("Delete", "Delete", new { id = item.Id } ).ToString()) : Html.Raw(""))
        )
    )
</div>

