﻿@model IEnumerable<APLA.Models.Subject>

@{
    ViewBag.Title = "Subject List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@{       
   var grid = new WebGrid(source: Model,
                defaultSort: "Name",
                rowsPerPage: 20);
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="grid">
    @grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column("Name"),
            grid.Column(header:"Education Stream", format:@<text><div>@(item.EducationStream.Name)</div></text>),
            grid.Column(header: "",format: (item) => (User.IsInRole("SuperAdmin")) ? new HtmlString(Html.ActionLink("Delete", "Delete", new { id = item.Id } ).ToString()) : Html.Raw(""))
        )
    )
</div>


