﻿@{
    ViewBag.Title = "Home Page";
}
<style>
    /*.carousel{width:80%;
       height:360px;}*/
    #greywrap {
        height:300px;
        width:100%;
        border:0px solid red;
    }
    .jumbotron {
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #EEE;
}
    .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
    .col-xs-4 {
        width: 33.3333%;
        float:right;
    }

</style>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
 
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Slider Content (Wrapper for slides )-->
  <div class="carousel-inner">
    <div class="item active">
      <img src="~/slideshow/s111.jpg" alt="">
      <div class="carousel-caption">        
      </div>
    </div>
      <div class="item">
      <img src="~/slideshow/s222.jpg" alt="">
      <div class="carousel-caption">        
      </div>
    </div>
      <div class="item">
      <img src="~/slideshow/s333.jpg" alt="">
      <div class="carousel-caption">        
      </div>
    </div>
    
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>
</div>

<div id="greywrap"><div class="container">
			
				<div class="col-lg-4 callout">
					<span class="icon icon-stack"></span>
					<h2 style="text-align:center">Welcome to APLA </h2>
					<p style="text-align:center">Shield Theme is powered by Bootstrap 3. The incredible Mobile First Framework is the best option to run your website. </p>
				</div><!-- col-lg-4 -->
			
    </div>
		</div><!-- greywrap -->

    <div class="container-fluid">

        

            <div class="col-xs-4">
           
              <div class="text-center"><h3>Robust</h3>
                  <p>There is other content and snippets of details or </p><i class="fa fa-cog fa-5x"></i></div>
            
          </div>

            <div class="col-xs-4 ">
               <div class="text-center"><h3>Simple</h3>
                  <p>You may also want to create content that compells users to </p><i class="fa fa-user fa-5x"></i></div>
            
          </div>
          <div class="col-xs-4 ">
           
              <div class="text-center"><h3>Clean</h3>
                  <p>In the first 30 seconds of a user's visit to your site they decide </p><i class="fa fa-mobile fa-5x"></i></div>
           
          </div>

       
</div>
        <hr>




<script type="text/javascript">
$('.carousel').carousel({
  interval: 6000,
    wrap: true
})
    </script>