﻿
@model APLA.Models.Teacher

@{
    ViewBag.Title = "Register Form";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>

    .subject_divs {
        display: inline;
    }
</style>
<h2 style="text-align:center">@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="form-horizontal" role="form">

       <div class="control-group">
         <label class="control-label">@Html.Label("Your Registration No")</label>
        <div class="controls">
            <input type="text" value="@ViewBag.Reg" id="regNo" name="regNo" readonly="true" /></div>
        </div>

        <div class="control-group">
         <label class="control-label">@Html.Label("UserName")</label>
        <div class="controls">
            <input type="text" id="username" name="username" /> </div>
        </div>

        <div class="control-group">
         <label class="control-label"> @Html.Label("Password") </label>        
        <div class="controls">
            <input type="text" id="password" name="password" /></div>
        </div>

        <div class="control-group">
         <label class="control-label">@Html.LabelFor(model => model.CommonName) </label>
        <div class="controls">
            @Html.EditorFor(model => model.CommonName)
            @Html.ValidationMessageFor(model => model.CommonName)</div>
        </div>

        <div class="control-group">
         <label class="control-label">@Html.LabelFor(model => model.FullName)</label>
        <div class="controls">
            @Html.EditorFor(model => model.FullName)
            @Html.ValidationMessageFor(model => model.FullName)</div>
        </div>

        <div class="control-group">
         <label class="control-label">@Html.Label("Select Current District") </label>
         <div class="controls">
            @Html.DropDownList("CurrentDistrictId", (SelectList)ViewBag.DistrictId, new { @id = "CurrentDistrictId", @onchange = "javascript:GetCurCity(this.value);" })
            @Html.ValidationMessageFor(model => model.CurrentDistrictId)</div>
        </div>

         <div class="control-group">
         <label class="control-label">@Html.Label("Select Current City") </label>
        <div class="controls">
            @Html.DropDownList("CurrentCityId", (SelectList)ViewBag.CityId)
            @Html.ValidationMessageFor(model => model.CurrentCityId)</div>
        </div>

         <div class="control-group">
         <label class="control-label">@Html.Label("Select Current Lane")</label>
         <div class="controls">
            @Html.EditorFor(model => model.CurrentLane)
            @Html.ValidationMessageFor(model => model.CurrentLane)</div>
        </div>

         <div class="control-group">
         <label class="control-label">@Html.Label("Select Permanent District") </label>
        <div class="controls">
            @Html.DropDownList("PermanentDistrictId", (SelectList)ViewBag.DistrictId, new { @id = "PermanentDistrictId", @onchange = "javascript:GetPerCity(this.value);" })
            @Html.ValidationMessageFor(model => model.PermanentDistrictId)</div>
        </div>

         <div class="control-group">
         <label class="control-label">@Html.Label("Select Permanent City") </label>
        <div class="controls">
            @Html.DropDownList("PermanentCityId", (SelectList)ViewBag.CityId)
            @Html.ValidationMessageFor(model => model.PermanentCityId)</div>
        </div>

         <div class="control-group">
         <label class="control-label">@Html.Label("Select Permanent Lane") </label>
        <div class="controls">
            @Html.EditorFor(model => model.PermanentLane)
            @Html.ValidationMessageFor(model => model.PermanentLane) </div>
        </div>

        <div class="control-group">
         <label class="control-label">@Html.Label("Residance Phone No") </label>
        <div class="controls">
            @Html.EditorFor(model => model.Pho_R)
            @Html.ValidationMessageFor(model => model.Pho_R)</div>
        </div>

        <div class="control-group">
         <label class="control-label">@Html.Label("Office Phone No") </label>
       <div class="controls">
            @Html.EditorFor(model => model.Pho_O)
            @Html.ValidationMessageFor(model => model.Pho_O)</div>
        </div>

        <div class="control-group">
         <label class="control-label">@Html.Label("Mobile Phone No") </label>
       <div class="controls">
            @Html.EditorFor(model => model.Pho_M)
            @Html.ValidationMessageFor(model => model.Pho_M) </div>
        </div>

        <div class="control-group">
         <label class="control-label">@Html.LabelFor(model => model.Email) </label>
         <div class="controls">
            @Html.EditorFor(model => model.Email)
           @Html.ValidationMessageFor(model => model.Email) </div>
        </div>

        <div class="control-group">
         <label class="control-label">@Html.LabelFor(model => model.Bday) </label>
        <div class="controls">
            @Html.EditorFor(model => model.Bday)
            @Html.ValidationMessageFor(model => model.Bday) </div>
        </div>

         <div class="control-group">
         <label class="control-label">@Html.Label("Enter National Id no") </label>
        <div class="controls">
            @Html.EditorFor(model => model.NationalId)
            @Html.ValidationMessageFor(model => model.NationalId)</div>
        </div>

        <div class="control-group">
         <label class="control-label">@Html.Label("Nationality") </label>
        <div class="controls">
            @Html.DropDownList("RaceId", (SelectList)ViewBag.RaceId)
            @Html.ValidationMessageFor(model => model.Race)</div>
        </div>

         <div class="control-group">
         <label class="control-label">@Html.LabelFor(model => model.Religion) </label>
        <div class="controls">
            @Html.DropDownList("ReligionId", (SelectList)ViewBag.ReligionId)
            @Html.ValidationMessageFor(model => model.Religion)</div>
        </div>

        <div class="control-group">
         <label class="control-label">@Html.LabelFor(model => model.IsMarried) </label>
       <div class="controls">
            @Html.EditorFor(model => model.IsMarried)
            @Html.ValidationMessageFor(model => model.IsMarried) </div>
        </div>

        <div id="partnerdiv">
            <div class="control-group">
         <label class="control-label">@Html.LabelFor(model => model.PartnerName) </label>
            <div class="controls">
                @Html.EditorFor(model => model.PartnerName)
                @Html.ValidationMessageFor(model => model.PartnerName) </div>
            </div>

            <div class="control-group">
         <label class="control-label">@Html.LabelFor(model => model.PartnerBday) </label>
             <div class="controls">
                @Html.EditorFor(model => model.PartnerBday) </div>
            </div>

            <div class="control-group">
         <label class="control-label">@Html.LabelFor(model => model.IsPartnerWorking) </label>
            <div class="controls">
                @Html.EditorFor(model => model.IsPartnerWorking)
                @Html.ValidationMessageFor(model => model.IsPartnerWorking) 

            </div>
            </div>

        </div>

        <div class="control-group">
         <label class="control-label">@Html.Label("Education Streams") </label>
        @foreach (APLA.Models.EducationStream stream in ViewBag.EducationStreams)
        {
             <div class="controls">
                <label class="checkbox inline">@stream.Name</label>
                <input type="checkbox" id="c@(stream.Id)" name="c@(stream.Id)" class="streams"/>
                <div class="subject_divs" id="d@(stream.Id)" style="clear:both">
                @foreach (APLA.Models.Subject subject in stream.Subjects)
                {
                    <div>
                        <label class="checkbox inline">@subject.Name</label>
                        <input type="checkbox" id="s@(subject.Id)" name="s@(subject.Id)" class="subjects"/>
                    </div>
                }
                </div>
            </div>
        }
</div>
        <br style="clear:both" />

        @Html.Label("Select Institutes")
        @foreach (APLA.Models.Institute institute in ViewBag.Institutes)
        {
                 <div style="width:200px;float:left">
                       <label>@institute.Name</label>
                       <input type="checkbox" id="i@(institute.Id)" name="i@(institute.Id)" class="subjects"/>
                 </div>
        }

        <br style="clear:both" />

        @Html.Label("Select Other Occupations")
        @foreach (APLA.Models.Occupation occupation in ViewBag.Occupations)
        {
                 <div style="width:200px;float:left">
                       <label>@occupation.Name</label>
                       <input type="checkbox" id="o@(occupation.Id)" name="o@(occupation.Id)" class="subjects"/>
                 </div>
        }

        <br style="clear:both" />

        @Html.Label("No of Children")
        <input type="text" id="NoOfChild" name="NoOfChild" />

        <div id="childrenList"></div>

        <div style="clear:both" id="children">
            @Html.Label("Name")
            <input type="text" id="names" name="names" />
            @Html.Label("Birthday")
            <input type="text" class="Bday" id="bdays" name="bdays" />
        </div>

        
            <div class="form-actions">
       <button type="submit" class="btn btn-success" value="Create"> Create</button>
                 <a class="btn btn-default" @Html.ActionLink("Back to List", "Index")
            </div>
       
        </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        if (jQuery.ui) {
            alert('loaded');
        }
        $('#Bday')
        .datepicker({
            format: 'mm/dd/yyyy'
        });
        $('.Bday')
        .datepicker({
            format: 'mm/dd/yyyy'
        });
        $("#partnerdiv").hide();

        $("#PartnerBday").datepicker();
        $("#Bday").datepicker();

        $(".Bday").datepicker();

        $(".streams").change(function (event) {
            var ids = event.target.id;
            var id = ids.substring(1);
            if (this.checked) {
                $("#d" + id).show();
            }
            else {
                $("#d" + id).hide();
            }
        });

        $("#IsMarried").change(function (event) {
            if (this.checked) {
                $("#partnerdiv").show();
            }
            else {
                $("#partnerdiv").hide();
            }
        });

        $(".subject_divs").hide();

        $("#NoOfChild").keyup(function () {
            $("#childrenList").contents().remove();
            if ($("#NoOfChild").val() == 0) {
                $("#children").hide();
            }
            for (var i = 1; i < $("#NoOfChild").val() ; i++) {
                $("#children").clone().prependTo("#childrenList");
            }
        });

        $('#username').on('input propertychange paste', function () {
            $.getJSON("/Teacher/CheckValidUserName", { userName: $("#username").val() },
              function (data, status) {
                  if (!data.valid) {
                      $('#username').val('');
                      $('#lbluser').val('Username already in use');
                  }
                  else {
                      $('#lbluser').val('');

                  }
              }
          );
        });

    });

    function GetCurCity(_districtid) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#CurrentCityId").html(procemessage).show();
        var url = "/PublicTeacher/GetCityByDisId/";

        $.ajax({
            url: url,
            data: { districtid: _districtid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select City</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#CurrentCityId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

    function GetPerCity(_districtid) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#PermanentCityId").html(procemessage).show();
        var url = "/PublicTeacher/GetCityByDisId/";

        $.ajax({
            url: url,
            data: { districtid: _districtid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select City</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#PermanentCityId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
