﻿@model APLA.Models.Teacher

@{
    ViewBag.Title = "Profile Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .form-horizontal .controls {
    margin-left: 180px;
    margin-top: 5px;
}
</style>
<h2>@ViewBag.Title</h2>
<div class="row">
 <div class="form-horizontal" role="form">
    <h3>Teacher</h3>

    <div class="control-group">
         <label class="control-label">Reg No :</label>
       <div class="controls"> @Html.DisplayFor(model => model.RegNo) 
           </div>
    </div>

    <div class="control-group">
         <label class="control-label">CommonName : </label>
    
        <div class="controls">@Html.DisplayFor(model => model.CommonName)</div>
    </div>

   <div class="control-group">
         <label class="control-label">@Html.DisplayNameFor(model => model.FullName) : </label>
        <div class="controls">@Html.DisplayFor(model => model.FullName)</div>
    </div>

     <div class="control-group">
         <label class="control-label">Current Address : </label>
    
        <div class="controls">@Html.Label((string)ViewBag.CurrentAddress)</div>
    </div>

    <div class="control-group">
         <label class="control-label">Permanent Address : </label>
    
        <div class="controls">@Html.Label((string)ViewBag.permanentAddress)</div>
    </div>

    <div class="control-group">
         <label class="control-label">Residenace Phone : </label>
    <div class="controls">@Html.DisplayFor(model => model.Pho_R)</div>
    </div>

    <div class="control-group">
         <label class="control-label"> @Html.DisplayName("Office Phone") :</label>
    <div class="controls">@Html.DisplayFor(model => model.Pho_O)</div>
    </div>

    <div class="control-group">
         <label class="control-label">@Html.DisplayName("Mobile Phone")</label>
    <div class="controls">@Html.DisplayFor(model => model.Pho_M)</div>
    </div>

    <div class="control-group">
         <label class="control-label">@Html.DisplayNameFor(model => model.Email) : </label>
    <div class="controls">@Html.DisplayFor(model => model.Email)</div>
    </div>

   <div class="control-group">
         <label class="control-label">@Html.DisplayNameFor(model => model.Bday) : </label>
    <div class="controls">@Html.DisplayFor(model => model.Bday)</div>
    </div>

    <div class="control-group">
         <label class="control-label">@Html.DisplayNameFor(model => model.NationalId) :</label>
    <div class="controls">@Html.DisplayFor(model => model.NationalId)</div>
    </div>

    <div class="control-group">
         <label class="control-label">@Html.DisplayName("Nationality") :</label>
    <div class="controls">@Html.DisplayFor(model => model.Race.Name)</div>
    </div>

   <div class="control-group">
         <label class="control-label">@Html.DisplayNameFor(model => model.Religion) :</label>
    <div class="controls">@Html.DisplayFor(model => model.Religion.Name) </div>
    </div>
<div class="control-group">
         <label class="control-label">@Html.DisplayNameFor(model => model.IsMarried) : </label>
    <div class="controls">@Html.DisplayFor(model => model.IsMarried)</div>
    </div>

    <div class="control-group">
         <label class="control-label">@Html.DisplayNameFor(model => model.PartnerName) : </label>
    <div class="controls">@Html.DisplayFor(model => model.PartnerName)</div>
    </div>

    <div class="control-group">
         <label class="control-label">@Html.DisplayNameFor(model => model.PartnerBday) : </label>
    <div class="controls">@Html.DisplayFor(model => model.PartnerBday)</div>
    </div>

    <div class="control-group">
         <label class="control-label">@Html.DisplayNameFor(model => model.IsPartnerWorking) : </label>
   <div class="controls">@Html.DisplayFor(model => model.IsPartnerWorking)</div>
    </div>

    <div class="control-group">
         <label class="control-label">@Html.DisplayName("Education Streams") : </label>
    
 <div class="controls">
    @foreach (APLA.Models.EducationStream stream in Model.EducationStreams)
    {
        @Html.DisplayFor(m => stream.Name)
    } </div>
</div>
     <div class="control-group">
         <label class="control-label">@Html.DisplayName("Subjects") :  </label>
    
 <div class="controls">
    @foreach (APLA.Models.Subject subject in Model.Subjects)
    {
        <label>@subject.Name</label>
    }</div>
</div>
    
     <div class="control-group">
         <label class="control-label">@Html.DisplayName("Institutes") : </label>
    
 <div class="controls">
    @foreach (APLA.Models.Institute institute in Model.Institutes)
    {
        <label>@institute.Name</label>
    }</div>
</div>

    <div class="control-group">
         <label class="control-label">@Html.DisplayName("Occupations") : </label>
   
      <div class="controls">
    @foreach (APLA.Models.Occupation occupation in Model.Occupations)
    {
        <label>@occupation.Name</label>
    } </div>
 </div>

    <div class="control-group">
         <label class="control-label">@Html.DisplayName("Children") : </label>
    
<div class="controls">
    @foreach (APLA.Models.Children children in Model.Children)
    {
        <label>@children.Name</label>
    }</div>
    </div>
</div>
</div>
<a class="btn btn-success"@Html.ActionLink("Update Profile", "Edit", new { id = Model.Id })</a>



