﻿@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model APLA.Models.LocalPasswordModel
<style>

    .subject_divs {
    }
    .form-group {
   /* margin-bottom: 40px;*/
}
    select, textarea, input[type="text"], input[type="password"] {
        height:35px;
    }
     .timetable_div {
        background-color:#F5F5F5;
         padding-top: 40px;
    }
</style>
<div class="container">
    <div class="row">
        <h2 style="text-align:center;color:#94ea66">@ViewBag.Title</h2> <br />
@using (Html.BeginForm("ChangePassword", "Teacher", new { @class = "form-horizontal timetable_div" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.Hidden("UserName", (String)ViewBag.UserName)
    @Html.Hidden("page", (int)ViewBag.Page)

        <legend>Set Password Form</legend>
         <div class="col-xs-6 col-sm-6 col-md-6 column">
                          <div class="form-group">
                            <label class="col-sm-4 control-label">New Password</label>
                 <div class="col-sm-7">@Html.PasswordFor(m => m.NewPassword, new { @class="form-control"})</div>
                              </div>
             <div class="form-group">
                            <label class="col-sm-4 control-label">Confirm Password</label>
                 <div class="col-sm-7">@Html.PasswordFor(m => m.ConfirmPassword, new { @class="form-control"})</div>
                              </div>

              <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success" value="Set password"> Set Password</button>
@*                        <a class="btn btn-default" href="@Url.Action("Index","Home")">Cancle</a>*@
                        <a href="/Teacher/Index?grid-page=@ViewBag.Page">Cancel</a> 
                    </div>
                 </div>
             </div>   
}
</div></div>
