﻿@model APLA.Models.Teacher

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Create New Teacher";
}
<style>

    .subject_divs {
    }
    .form-group {
   /* margin-bottom: 40px;*/
}
    select, textarea, input[type="text"], input[type="password"] {
        height:35px;
    }
     .timetable_div {
        background-color:#F5F5F5;
         padding-top: 40px;
    }
/*
     label {
    display: inline;
    padding-left: 15px;
    text-indent: -15px;
}
input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}*/label{
	display:inline;
}
</style>
<div class="container">
    <div class="row">
        <h2 style="text-align:center;color:#94ea66">@ViewBag.Title</h2> <br />
        <div class="container-fluid">
        @using (Html.BeginForm("Create", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal timetable_div" }))
        {
            @Html.ValidationSummary(true)

            if (!string.IsNullOrEmpty(ViewBag.Error))
            {
            <label>@ViewBag.Error</label>
            }

        <div class="col-xs-6 col-sm-6 col-md-6 column">
                          <div class="form-group">
                            <label class="col-sm-4 control-label">Your Registration No</label>
                            <div class="col-sm-7">
                              <input class="form-control" type="text" value="@ViewBag.Reg" id="regNo" name="regNo" readonly="true" />
                            </div>
                          </div>
                    <div class="form-group">
                            <label class="col-sm-4 control-label">Password <a style="color:red">*</a></label>
                            <div class="col-sm-7">
                              <input class="form-control" type="text" id="password" name="password" required />
                            </div>
                          </div> 

                         <div class="form-group">
                            <label class="col-sm-4 control-label">First Name <a style="color:red">*</a></label>
                            <div class="col-sm-7">
                               @Html.TextBoxFor(model => model.CommonName, new { @class = "form-control" })
                               <p class="alert-danger">@Html.ValidationMessageFor(model => model.CommonName)</p>
                          </div> 
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Current District</label>
                            <div class="col-sm-7">
                              @Html.DropDownList("CurrentDistrictId", (SelectList)ViewBag.DistrictId, new { @id = "CurrentDistrictId", @onchange = "javascript:GetCurCity(this.value);", @class = "form-control" })
                              <p class="alert-danger">@Html.ValidationMessageFor(model => model.CurrentDistrictId) </p>
                            </div>
                          </div> 
            
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Current City</label>
                            <div class="col-sm-7">
                               @Html.DropDownList("CurrentCityId", (SelectList)ViewBag.CityId, new { @class = "form-control" })
                              <p class="alert-danger">@Html.ValidationMessageFor(model => model.CurrentDistrictId) </p>
                            </div>
                          </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Current Lane</label>
                            <div class="col-sm-7">
                               @Html.TextBoxFor(model => model.CurrentLane, new { @class = "form-control" })
                              <p class="alert-danger">@Html.ValidationMessageFor(model => model.CurrentLane)</p>
                            </div>
                          </div>
                        
                         <div class="form-group">
                            <label class="col-sm-4 control-label">Residance Phone No</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.Pho_R, new { @class = "form-control" })
                              <p class="alert-danger">@Html.ValidationMessageFor(model => model.Pho_R)</p>
                            </div>
                          </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Mobile Phone No <a style="color:red">*</a></label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.Pho_M, new { @class = "form-control" })
                              <p class="alert-danger">@Html.ValidationMessageFor(model => model.Pho_M)</p>
                            </div>
                          </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Birthday</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.Bday, new { @class = "form-control" })
                              <p class="alert-danger">@Html.ValidationMessageFor(model => model.Bday)</p>
                            </div>
                          </div>
                         <div class="form-group">
                            <label class="col-sm-4 control-label">Nationality</label>
                            <div class="col-sm-7">
                               @Html.DropDownList("RaceId", (SelectList)ViewBag.RaceId, new { @class = "form-control" })
                              <p class="alert-danger">@Html.ValidationMessageFor(model => model.Race)</p>
                            </div>
                          </div>
            </div>
                       
       
            
        <div class="col-xs-6 col-sm-6 col-md-6 column">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Username <a style="color:red">*</a></label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" id="username" name="username"  required />
                         <label id="lbluser" class="alert-danger"></label>
                    </div>
                </div>
            <div class="form-group">
                            <label class="col-sm-4 control-label">Title</label>
                            <div class="col-sm-7">
                              @Html.DropDownListFor(model => model.Name, (SelectList)ViewBag.Names, new { @class = "form-control" })
                              <p class="alert-danger">@Html.ValidationMessageFor(model => model.Name) </p>
                            </div>
                          </div> 
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Last Name</label>
                            <div class="col-sm-7">
                              @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                              <p class="alert-danger">@Html.ValidationMessageFor(model => model.FullName)</p>
                            </div>
                          </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Permanent District</label>
                            <div class="col-sm-7">
                              @Html.DropDownList("PermanentDistrictId", (SelectList)ViewBag.DistrictId, new { @id = "PermanentDistrictId", @onchange = "javascript:GetPerCity(this.value);", @class = "form-control" })
                              <p class="alert-danger">@Html.ValidationMessageFor(model => model.PermanentDistrictId) </p>
                            </div>
                          </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Permanent City</label>
                            <div class="col-sm-7">
                               @Html.DropDownList("PermanentCityId", (SelectList)ViewBag.CityId, new { @class = "form-control" })
                              <p class="alert-danger">@Html.ValidationMessageFor(model => model.PermanentCityId)</p>
                            </div>
                          </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Permanent Lane</label>
                            <div class="col-sm-7">
                               @Html.TextBoxFor(model => model.PermanentLane, new { @class = "form-control" })
                              <p class="alert-danger">@Html.ValidationMessageFor(model => model.PermanentLane)</p>
                            </div>
                          </div> 
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Office Phone No</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.Pho_O, new { @class = "form-control" })
                              <p class="alert-danger">@Html.ValidationMessageFor(model => model.Pho_O)</p>
                            </div>
                          </div>
                         <div class="form-group">
                            <label class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                              <p class="alert-danger">@Html.ValidationMessageFor(model => model.Email)</p>
                            </div>
                          </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">National ID No</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.NationalId, new { @class = "form-control" })
                              <p class="alert-danger">@Html.ValidationMessageFor(model => model.NationalId)</p>
                            </div>
                          </div>
                         <div class="form-group">
                            <label class="col-sm-4 control-label">Religion</label>
                            <div class="col-sm-7">
                               @Html.DropDownList("ReligionId", (SelectList)ViewBag.ReligionId, new { @class = "form-control" })
                              <p class="alert-danger">@Html.ValidationMessageFor(model => model.Religion) </p>
                            </div>
                          </div> 
        </div>
            
            
            
             <div class="form-group">
                            <label class="col-sm-4 control-label">Upload Profile Image</label>
                            <div class="col-sm-7">
                              <input type="file" name="file" id="file" style="width: 100%;" /> 
                            </div>
                          </div>
                         <div class="form-group">
                            <label class="col-sm-4 control-label checkbox">@Html.LabelFor(model => model.IsMarried)</label>
                            <div class="col-sm-7">
                              @Html.EditorFor(model => model.IsMarried)
                              <p class="alert-danger">@Html.ValidationMessageFor(model => model.IsMarried)</p>
                            </div>
                          </div>
                        <div id="partnerdiv">
                          <div class="form-group">
                            <label class="col-sm-4 control-label">Spouse Name</label>
                            <div class="col-sm-7">
                               @Html.TextBoxFor(model => model.PartnerName, new { @class = "form-control" })
                              <p class="alert-danger">@Html.ValidationMessageFor(model => model.PartnerName)</p>
                            </div>
                          </div>
                            <div class="form-group">
                            <label class="col-sm-4 control-label">Spouse Birth day</label>
                            <div class="col-sm-7">
                               @Html.TextBoxFor(model => model.PartnerBday, new { @class = "form-control" })
                            </div>
                          </div>
                            <div class="form-group">
                            <label class="col-sm-4 control-label checkbox">Spouse Working</label>
                            <div class="col-sm-7">
                               @Html.EditorFor(model => model.IsPartnerWorking, new { @class = "form-control" })
                              <p class="alert-danger"> @Html.ValidationMessageFor(model => model.IsPartnerWorking) </p>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Children</label>
                            <div class="col-sm-7">
                              <table id="div_Children" class="table table-hover">
                                    <tr class="success">
                                        <th>
                                            <label>Name</label>
                                        </th>
                                        <th>
                                            <label>Birthday</label>
                                        </th>
                                        <th><input type="button" class="BtnPlusC" value="+" /></th>
                                        <th><input type="button" class="BtnMinusC" value="-" /></th>
                                    </tr>
                                    <tr id="div_Child" class="info">
                                        <td>
                                            <input type="text" id="names" name="names" />
                                        </td>
                                        <td>
                                           <input type="text" class="Bday" id="bdays" name="bdays" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                          </div>
                        <div class="form-horizontal">
	                        <div class="form-group">
                              <label class="col-sm-4 control-label">Education Streams <a style="color:red">*</a></label>
                                                        
                                 @foreach (APLA.Models.EducationStream stream in ViewBag.EducationStreams)
                                 {
                                     <br style="clear:both" />
                                     <div class="controls">
                                        <input type="checkbox" id="c@(stream.Id)" name="c@(stream.Id)" class="streams"/>
                                        <label class="radio-inline"><strong>@stream.Name</strong></label>
                                        <div class="subject_divs" id="d@(stream.Id)" style="clear:both;color:#4D84BA;">
                                             <div class="col-sm-10"><div class="checkbox">
                                        @foreach (APLA.Models.Subject subject in stream.Subjects)
                                        {
                                           
                                                <label>
                                                    <input type="checkbox" id="s@(subject.Id)" name="s@(subject.Id)" class="subjects"/>
                                                
                                                @subject.Name</label>
                                           
                                        }
                                        </div></div>
                                    </div></div>
                                 }
                          
                          </div>
                        </div>
            
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Institutes</label>
                            <div class="col-sm-7">
                                <table id="div_Ins" class="table table-hover">
                                    <tr class="success">
                                        <th>
                                            <label>Name</label>
                                        </th>
                                        <th>
                                            <label>City</label>
                                        </th>
                                        <th><input type="button" class="BtnPlus" value="+" /></th>
                                        <th><input type="button" class="BtnMinus" value="-" /></th>
                                    </tr>
                                    <tr id="div_In" class="info">
                                        <td>
                                            <input type="text" class="Ins" id="Ins" name="Ins" />
                                        </td>
                                        <td>
                                            @Html.DropDownList("Ins_city", (SelectList)ViewBag.CityId)
                                        </td>
                                    </tr>
                                </table>
                            </div>
                          </div>

                         <div class="form-horizontal">
	                        <div class="form-group">
                              <label class="col-sm-4 control-label">Select Other Occupations</label>
                                       <div class="col-sm-10"><div class="checkbox">
                                          @foreach (APLA.Models.Occupation occupation in ViewBag.Occupations)
                                          {
                                                     
                                                              <label> <input type="checkbox" id="o@(occupation.Id)" name="o@(occupation.Id)" class="subjects"/>
                                                               &nbsp;@occupation.Name</label>
                                              

                                                      
                                          }</div>
                                        </div>
                                      </div>
                             </div>
            <div class="form-horizontal">
                <legend><h6>Social Media Link</h6></legend>
                             <div class="form-group">
                                <div class="col-sm-3">
                                      @Html.LabelFor(model => model.facebook, new { @class="control-label"})
                                </div>
                                 <div class="col-sm-7">
                                      @Html.TextBoxFor(model => model.facebook, new { @class = "form-control" })
                                     <p class="alert-danger">@Html.ValidationMessageFor(model => model.facebook)</p>
                                </div>
                                 <div class="col-sm-3">
                                        @Html.LabelFor(model => model.googlePlus, new { @class="control-label"})
                                </div>
                                 <div class="col-sm-7">
                                      @Html.TextBoxFor(model => model.googlePlus, new { @class = "form-control" })
                                     <p class="alert-danger">@Html.ValidationMessageFor(model => model.googlePlus)</p>
                                     </div>
                                 <div class="col-sm-3">
                                         @Html.LabelFor(model => model.twitter, new { @class="control-label"})
                                     </div>
                                     <div class="col-sm-7">
                                      @Html.TextBoxFor(model => model.twitter, new { @class = "form-control" })
                                         <p class="alert-danger">@Html.ValidationMessageFor(model => model.twitter)</p>
                                         </div>
                                 <div class="col-sm-3">
                                        @Html.LabelFor(model => model.youTube, new { @class="control-label"})
                                     </div>
                                         <div class="col-sm-7">
                                      @Html.TextBoxFor(model => model.youTube, new { @class = "form-control" })
                                       <p class="alert-danger">@Html.ValidationMessageFor(model => model.youTube)</p>
                                             </div>
                                 <div class="col-sm-3">
                                         @Html.LabelFor(model => model.linkedIn, new { @class="control-label"})
                                     </div>
                                             <div class="col-sm-7">
                                      @Html.TextBoxFor(model => model.linkedIn, new { @class = "form-control" })
                                       <p class="alert-danger">@Html.ValidationMessageFor(model => model.linkedIn)</p>
                                                 </div>

                            </div>
            </div>

           
            
             <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success" value="Create"> Create</button>
                        <a class="btn btn-default" href="@Url.Action("Index", "Home")">Cancel</a>
                    </div>
                 </div> <br /> <br /> <br />
        }

            
        </div>
</div></div>

<script type="text/javascript">
    $(document).ready(function () {
        if (jQuery.ui) {
  
        }

        var autocomp_opt = {
            source: function (request, response) {
                $.ajax({
                    url: "/Teacher/AutoCompleteInstitute",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        };

        var autocomp_opt1 = {
            source: function (request, response) {
                $.ajax({
                    url: "/Teacher/AutoCompleteCity",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.CityName, value: item.CityName };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        };

        $(".Ins").autocomplete(autocomp_opt);

        $(".Ins_city").autocomplete(autocomp_opt1);

        var rowCount = 1;

        function addRow() {
            $('#div_Ins tr:last').after($('#div_In').clone());
            rowCount++;
            $('.Ins').autocomplete(autocomp_opt);
        };

        $("#div_Ins").on("click", ".BtnPlus", addRow);
        function deleteRow() {
            //var par = $(this).parent().parent();
            //par.remove();

            if (rowCount > 1) {
                $('#div_Ins tr:last').remove();
                rowCount--;
            }
        };
        $("#div_Ins").on("click", ".BtnMinus", deleteRow);

        var rowCountC = 1;

        function addRowC() {
            $('#div_Children tr:last').after($('#div_Child').clone());
            rowCountC++;
        };

        $("#div_Children").on("click", ".BtnPlusC", addRowC);
        function deleteRowC() {
            if (rowCountC > 1) {
                $('#div_Children tr:last').remove();
                rowCountC--;
            }
        };
        $("#div_Children").on("click", ".BtnMinusC", deleteRowC);

        $("#partnerdiv").hide();

        $("#PartnerBday").datepicker();
        $("#Bday").datepicker();

        $(".Bday").datepicker();

        $(".streams").change(function (event) {
            var ids = event.target.id;
            var id = ids.substring(1);
            if (this.checked) {
                 $("#d" + id).show();
            }
            else {
                $("#d" + id).hide();
            }
        });

        $("#IsMarried").change(function (event) {
            if (this.checked) {
                $("#partnerdiv").show();
            }
            else {
                $("#partnerdiv").hide();
            }
        });

        $("#form").validate();

        $(".subject_divs").hide();

        $('#username').on('input propertychange paste', function () {
            $.getJSON("/Teacher/CheckValidUserName", { userName: $("#username").val() },
              function (data, status) {
                  if (!data.valid) {
                      $('#username').text('');
                      $('#lbluser').text('Username already in use');
                  }
                  else {
                      $('#lbluser').text('');

                  }
              }
          );
        });

    });

    function GetCurCity(_districtid) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#CurrentCityId").html(procemessage).show();
        var url = "/Teacher/GetCityByDisId/";

        $.ajax({
            url: url,
            data: { districtid: _districtid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select City</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#CurrentCityId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

    function GetPerCity(_districtid) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#PermanentCityId").html(procemessage).show();
        var url = "/Teacher/GetCityByDisId/";

        $.ajax({
            url: url,
            data: { districtid: _districtid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select City</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#PermanentCityId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
