﻿@model APLA.Models.Teacher

@{
    ViewBag.Title = "Delete Teacher";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
<h2>@ViewBag.Title</h2>

<h4 class="alert alert-error">Are you sure you want to delete this Teacher?</h4>
<div class="form-actions">
@using (Html.BeginForm()) {
    @Html.Hidden("page",(int)ViewBag.Page)
    <p style="text-align:center">
        <button type="submit" class="btn btn-danger" value="Delete">Yes</button> &nbsp;&nbsp;&nbsp;&nbsp;
@*        <a class="btn btn-default" @Html.ActionLink("No", "Index",new {page=ViewBag.PageNo })*@
        <a class="btn btn-default" href="/Teacher/Index?grid-page=@ViewBag.Page">No</a> 
    </p>
}
    </div>
        </div></div>
