﻿@model APLA.Models.Teacher

@{
    ViewBag.Title = "IdForm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .form-horizontal .controls {
    margin-left: 180px;
    margin-top: 5px;
}
    .profile_form {/*
        margin-left:auto;
        margin-right:auto;
        width:50%;*/
    }
    select, textarea, input[type="text"], input[type="password"] {
        height:35px;
    }
    .profile_img 
    {
        	background-position: left;
            margin-bottom:60px;
            width:100px;
            height:100px;

    }
    .profile_details
    {
        margin-top:5px;
    }
    .control-label {
        font-weight:bold;
    }
     .timetable_div {/*
        padding-top:20px;
        background-color:#F5F5F5;*/
    }
</style>
<div class="container">
    <div class="row">
        <div id="Content">

            <h3 style="color:#005CFE">profile details</h3> <br />
            <div class="col-xs-1 col-sm-1 col-md-1 column">
            <div class="profile_img">

            @{
                var imgPath = Directory.EnumerateFiles(Server.MapPath(@"~/Images/ProfileImages/"), "*.*", SearchOption.AllDirectories).Where(s => s.Contains(Model.RegNo));
                if(imgPath!=null && imgPath.Count()>0){

                            var img = new FileInfo(imgPath.First());
                            if(img!=null){
                                <img src="@Url.Content(String.Format("~/Images/ProfileImages/{0}",img.Name))" width="100" height="100" />
                            }

                 }
           }
            </div></div>
             <div class="col-xs-8 col-sm-8 col-md-8 column">
            <form class="form-horizontal profile_form timetable_div" role="form" >
            
                    <div class="form-group">
                    <label class="col-sm-6 control-label">Name</label>
                    <div class="col-sm-7 profile_details">
                        @Html.Label((string)ViewBag.Name)
                    </div>
                    </div> 

                     
                    <div class="form-group">
                    <label class="col-sm-6 control-label">NIC No</label>
                    <div class="col-sm-7 profile_details">
                        @Html.DisplayFor(model => model.NationalId, new { @class="form-control"})
                    </div>
                    </div>
       
                
                    <div class="form-group">
                    <label class="col-sm-6 control-label">Apla Registration No</label>
                    <div class="col-sm-7 profile_details">
                        @Html.DisplayFor(model => model.RegNo, new { @class="form-control"})
                    </div>
                    </div>

                 <div class="form-group">
                <label class="col-sm-6 control-label">Subjects</label>
                <div class="col-sm-7 profile_details">
                   @foreach (APLA.Models.Subject subject in Model.Subjects)
                        {
                            <label>@subject.Name</label>
                        } 
                </div>
                </div>

                   <div class="form-group">
            <label class="col-sm-4 control-label">Permanent Address</label>
            <div class="col-sm-7 profile_details">
                @Html.Label((string)ViewBag.permanentAddress)
            </div>
            </div> 


</form></div>
        </div>

          <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                        <input class="btn btn-primary" type="button" id="print" value="Print the Id">
                        <a class="btn btn-info" @Html.ActionLink("Back to List", "Index") 
                </div>
           </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#print").click(function () {
            $("#Content").printArea();
        });
    });
</script>


