﻿@model IEnumerable<APLA.Models.Teacher>
@{
    ViewBag.Title = "Teacher List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using GridMvc.Html
<div class="container">
    <div class="row">
<div class="container-fluid">
    <h2 style="text-align: center; color: #76BCF8">@ViewBag.Title</h2>
    <p>
        <a class="btn btn-success"  @Html.ActionLink("Create New", "Create") </a>
    </p>
</div>


@Html.Grid(Model).Columns(columns =>
          {
              columns.Add(t => t.RegNo).Titled("Reg No").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.CommonName).Titled("First Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.FullName).Titled("Last Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Pho_M).Titled("Phone No").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Email).Titled("Email").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Enabled).Titled("Active").SetWidth(120).Sortable(true).Filterable(true);

              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Edit", "Edit", "Teacher", new { id = o.Id, page = ViewBag.Page }, new{@class ="btn btn-success"}).ToHtmlString());
              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Details", "Details", "Teacher", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-info" }).ToHtmlString());
              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Delete", "Delete", "Teacher", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-danger" }).ToHtmlString());
              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Change Password", "ChangePassword", "Teacher", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn" }).ToHtmlString());

          }).WithPaging(10)
</div>
    </div>

@*@model PagedList.IPagedList<APLA.Models.Teacher>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Teacher List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>

    select, textarea, input[type="text"], input[type="password"] {
        height:35px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="container-fluid">
            <h2 style="text-align:center;color:#76BCF8">@ViewBag.Title</h2>
    <p> 
        <a class="btn btn-success"  @Html.ActionLink("Create New", "Create") </a>
    </p>
            </div>


@using (Html.BeginForm("Index", "Teacher", FormMethod.Get, new { @class="form-inline"}))
{
    <div class="input-group">
       Find by Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder="Search"})
         <span class="">
                    <input class="btn btn-default" type="submit" value="Search" />
                </span>
   </div>   
    
}
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th style="text-align: center">
            @Html.ActionLink("Registration No", "Index", new { sortOrder = ViewBag.RegSortParm, currentFilter=ViewBag.CurrentFilter })
        </th>
        <th style="text-align: center">
            @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParm, currentFilter=ViewBag.CurrentFilter })
        </th>
        <th style="text-align: center">
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParm, currentFilter=ViewBag.CurrentFilter })
        </th>
        <th style="text-align: center">
            Phone No
        </th>
        <th style="text-align: center">
            Email
        </th>
        <th style="text-align: center">
            Status
        </th>
        <th style="text-align: center">Action</th>
    </tr>


@foreach (var item in Model) {
    <tr>
        <td>
             @Html.DisplayFor(modelItem => item.RegNo)
        </td>
        <td>
             @Html.DisplayFor(modelItem => item.CommonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pho_M)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enabled)
        </td>
        <td>
            <a class="btn btn-default" @Html.ActionLink("Edit", "Edit", new { id=item.Id,page=Model.PageNumber })
            
               <a class="btn btn-info" @Html.ActionLink("Details", "Details", new { id=item.Id,page=Model.PageNumber }) 
         
               <a class="btn btn-danger" @Html.ActionLink("Delete", "Delete", new { id=item.Id,page=Model.PageNumber })

             <a class="btn btn-default" @Html.ActionLink("Change Password", "ChangePassword", new { id=item.Id,page=Model.PageNumber })
    </td>
        
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
new PagedListRenderOptions { MaximumPageNumbersToDisplay = 20 })
</div></div>*@