﻿@model APLA.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}
<style>
   /* select, textarea, input[type="text"], input[type="password"] {
        height:30px;
    }*/
    .form-signin
{
max-width: 330px;
padding: 15px;
margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
margin-bottom: 10px;
}
.form-signin .checkbox
{
font-weight: normal;
}
.form-signin .form-control
{
position: relative;
font-size: 16px;
height: auto;
padding: 10px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.form-signin .form-control:focus
{
z-index: 2;
}
.form-signin input[type="text"]
{
margin-bottom: -1px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}
.account-wall
{
margin-top: 20px;
padding: 40px 0px 20px 0px;
background-color: #f7f7f7;
-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
color: #555;
font-size: 18px;
font-weight: 400;
display: block;
}
.profile-img
{
width: 96px;
height: 96px;
margin: 0 auto 10px;
display: block;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
}
.need-help
{
margin-top: 10px;
}
.new-account
{
display: block;
margin-top: 10px;
}
    .container {
        top:-50px;
    }

</style>
<div class="container">
    <div class="row">
    
   
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <img class="profile-img" src="@Url.Content("~/slideshow/aplalogo2.png")"
                alt="">
                @using (Html.BeginForm("Login", "Account",
                        new { ReturnUrl = ViewBag.ReturnUrl },
                        FormMethod.Post, new { @class = "form-signin" }))
                {
                    @Html.AntiForgeryToken()

                <label class="control-label">@Html.LabelFor(m => m.UserName)</label>
               @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" }) 
                <p class="alert-danger">@Html.ValidationMessageFor(m => m.UserName)</p>

                <label class="control-label">@Html.LabelFor(m => m.Password)</label>                
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                <p class="alert-danger">@Html.ValidationMessageFor(m => m.Password)@Html.ValidationMessage("UserError")</p>

                <button class="btn btn-lg btn-primary btn-block" type="submit" value="Log in">
                Log in</button>

                <label class="checkbox pull-left">
                    <p class="">@Html.CheckBoxFor(m => m.RememberMe)</p>
                    <p class="">@Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })</p>
                </label>

            <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                }
        </div>
        <a href="#" class="text-center new-account"><p>
         @*  @Html.ActionLink("Register", "Create", "PublicTeacher", routeValues: null, htmlAttributes: new { id = "registerLink" }) if you don't have an account. *@
            </p></a>
            <br /><br />
        </div>
    
</div>
</div> 
@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
