﻿@model APLA.Models.TimeTable

@{
    ViewBag.Title = "Add Time Table Entry";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TimeTable</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.year)
            @Html.ValidationMessageFor(model => model.year)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EducationStreamId, "EducationStream")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EducationStreamId", (SelectList)ViewBag.EducationStreamId, new { @id = "EducationStreamId", @onchange = "javascript:GetSubjects(this.value);" })
            @Html.ValidationMessageFor(model => model.EducationStreamId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectId, "Subject")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SubjectId", String.Empty)
            @Html.ValidationMessageFor(model => model.SubjectId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClassTypeId, "ClassType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ClassTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.ClassTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Day)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Day, (SelectList)ViewBag.Days)
            @Html.ValidationMessageFor(model => model.Day)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.time)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.time)
            @Html.ValidationMessageFor(model => model.time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Venue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Venue)
            @Html.ValidationMessageFor(model => model.Venue)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#time').timepicker();
    });

    function GetSubjects(streamId) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#SubjectId").html(procemessage).show();
        var url = "/TimeTable/GetSubjects/";

        $.ajax({
            url: url,
            data: { sreamId: streamId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select Subject</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#SubjectId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }

</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
