﻿@model APLA.Models.TimeTable

@{
    ViewBag.Title = "Delete Time Table Entry";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TimeTable</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.year)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.year)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EducationStream.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EducationStream.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subject.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClassType.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClassType.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Venue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Venue)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
