﻿@model IEnumerable<APLA.Models.TimeTable>

@{
    ViewBag.Title = "My Time Table";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h3 style="text-align: center;">@ViewBag.Title</h3>

@{       
   var grid = new WebGrid(source: Model,
                defaultSort: "year",
                rowsPerPage: 20);
}
<style type="text/css">
  .grid { margin: 4px; border-collapse: collapse; width: 100%;  margin-bottom: 20px; }
  .grid th, .grid td { border: 1px solid #C0C0C0; padding: 5px; }
  .head { background-color: #E8E8E8; font-weight: bold; color: #000000; }
   .alt { background-color: #E8E8E8; color: #000; }
    .btn_edit {

    }
</style>   

<div class="container">
    <p> 
        <a class="btn btn-success"  @Html.ActionLink("Add New", "Create")  </a>
        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
    </p>
    <table class="table table-bordered table-hover">
        
    </table>
     @grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
           grid.Column("Year",canSort: true, style:""),
            grid.Column(header:"Education Stream", format:@<text>@(item.EducationStream.Name)</text>),
            grid.Column(header:"Subject", format:@<text>@(item.Subject.Name)</text>),
            grid.Column(header:"Class Type", format:@<text>@(item.ClassType.Name)</text>),
            grid.Column(header:"Time", format:(item) => string.Format("{0} {1:h:mm}", item.Day,item.time)),
            grid.Column("Venue"),
            grid.Column(header: "",format: (item) => new HtmlString(Html.ActionLink("Edit", "Edit", new { id = item.Id } ).ToString()),canSort: true, style:"btn_edit"),
            grid.Column(header: "",format: (item) => new HtmlString(Html.ActionLink("Delete", "Delete", new { id = item.Id } ).ToString()), canSort: true, style:"btn_delete")
        )
    )
</div>


