﻿@model APLA.Models.Religion

@{
    ViewBag.Title = "Create Religion";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    select, textarea, input[type="text"], input[type="password"] {
        height:35px;
    }
</style>
<div class="container">
    <div class="row">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
     <div class="form-horizontal" role="form" id="form">
        <h3>Create Religion</h3>

        <div class="control-group">
         <label class="control-label">@Html.LabelFor(model => model.Name) </label>
        <div class="controls">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name) </div>
        </div>

       <div class="form-actions">
       <button type="submit" class="btn btn-success" value="Create"> Create</button>
             <a class="btn btn-default" @Html.ActionLink("Back to List", "Index")
             </div>
    </div>
}
</div></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
