﻿@model APLA.Models.City

@{
    ViewBag.Title = "Create City";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    select, textarea, input[type="text"], input[type="password"] {
        height:35px;
    }
</style>
<div class="container">
    <div class="row">

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

       <div class="form-horizontal" role="form" id="form">
        <h3>Create City</h3>

        <div class="control-group">
         <label class="control-label">@Html.LabelFor(model => model.CityName) </label>
        <div class="controls">
            @Html.EditorFor(model => model.CityName)
            @Html.ValidationMessageFor(model => model.CityName) </div>
        </div>

         <div class="control-group">
         <label class="control-label">@Html.LabelFor(model => model.DistrictId, "District") </label>
        <div class="controls">
            @Html.DropDownList("DistrictId", String.Empty)
            @Html.ValidationMessageFor(model => model.DistrictId) </div>
        </div>

        <div class="form-actions">
       <button type="submit" class="btn btn-success" value="Create"> Create</button>
             <a class="btn btn-default" @Html.ActionLink("Back to List", "Index")
             </div>
    </div>
}
</div></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
