﻿@model APLA.Models.City

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>

    select, textarea, input[type="text"]{
        height:35px;
    }
</style>
<div class="container">
          <div class="row">
            <div class="container-fluid">
        <legend>Edit City</legend>

            </div>
@using (Html.BeginForm(new { @class = "form-inline" }))
{
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
         <label class="col-sm-1 control-label">City Name</label>
         <div class="col-sm-3">
            @Html.EditorFor(model => model.CityName)
            @Html.ValidationMessageFor(model => model.CityName)
        </div>
            </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DistrictId, "District",new {@class="col-sm-1 control-label"})
        <div class="col-sm-3">
            @Html.DropDownList("DistrictId", String.Empty)
            @Html.ValidationMessageFor(model => model.DistrictId)
        </div>
            </div>

        <div class="form-group">
            <div class="col-sm-2">
            <button type="submit" class="btn btn-success" value="Save">Save</button> 
                    <a class="btn btn-default" @Html.ActionLink("Back to List", "Index") 
        </div></div>
}

<div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
