﻿@model PagedList.IPagedList<APLA.Models.City>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "City List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@*@{       
   var grid = new WebGrid(source: Model,
                defaultSort: "CityName",
                rowsPerPage: 20);
}
<style type="text/css">
  .grid { margin: 4px; border-collapse: collapse; width: 50%;  margin-bottom: 20px; }
  .grid th, .grid td { border: 1px solid #C0C0C0; padding: 5px; }
  .head { background-color: #E8E8E8; font-weight: bold; color: #000000; }
   .alt { background-color: #E8E8E8; color: #000; }
    .btn_delete {
        width:40%;
        text-align:center;
    }
</style>
<div class="container">
     <div class="row">
        <div class="container-fluid">
    <h2 style="text-align:center;color:#76BCF8">@ViewBag.Title</h2>
    <p> 
        <a class="btn btn-success"  @Html.ActionLink("Create New", "Create") </a>
</p>
    @grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column("CityName"),
            grid.Column(header:"District Name", format:@<text><div>@(item.District.DistrictName)</div></text>),
            grid.Column(header: "Action", format: (item) => new HtmlString(Html.ActionLink("Edit", "Edit", new { id = item.Id }).ToString())),
            grid.Column(header: "Action",format: (item) => (User.IsInRole("SuperAdmin")) ? new HtmlString(Html.ActionLink("Delete", "Delete", new { id = item.Id } ).ToString()) : Html.Raw(""),style:"btn_delete")
        )
    )
</div></div></div>*@

<style>

    select, textarea, input[type="text"], input[type="password"] {
        height:35px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="container-fluid">
            <h2 style="text-align:center;color:#76BCF8">@ViewBag.Title</h2>
    <p> 
        <a class="btn btn-success"  @Html.ActionLink("Create New", "Create") </a>
    </p>
            </div>


@using (Html.BeginForm("Index", "City", FormMethod.Get, new { @class="form-inline"}))
{
    <div class="input-group">
       Find by Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder="Search"})
         <span class="">
                    <input class="btn btn-default" type="submit" value="Search" />
                </span>
   </div>   
    
}

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th style="text-align: center">
            City Name
        </th>
        <th style="text-align: center">
            District Name
        </th>
        <th style="text-align: center">Action</th>
    </tr>


@foreach (var item in Model) {
    <tr>
        <td>
             @Html.DisplayFor(modelItem => item.CityName)
        </td>
        <td>
             @Html.DisplayFor(modelItem => item.District.DistrictName)
        </td>
        <td>
            <a class="btn btn-default" @Html.ActionLink("Edit", "Edit", new { id=item.Id })
            
            <a class="btn btn-danger" @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",new { page, currentFilter = ViewBag.CurrentFilter }))
</div></div>



