﻿
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
       <script src="@Url.Content("../../Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
       <script src="@Url.Content("../../Scripts/jquery-ui-1.8.20.min.js")" type="text/javascript"></script>
       <script src="@Url.Content("../../Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
       <script src="@Url.Content("../../Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>

    <link href="@Url.Content("../../Content/themes/base/jquery.ui.core.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("../../Content/themes/base/jquery.ui.datepicker.css")" rel="stylesheet"  type="text/css" />
    <link href="@Url.Content("../../Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("../../Scripts/jquery.ui.core.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("../../Scripts/jquery.ui.datepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("../../Scripts/DatePickerReady.js")" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Teacher List", "Index", "Teacher")</li>
                            <li>@Html.ActionLink("Education Streams", "Index", "EducationStream")</li>
                            <li>@Html.ActionLink("Institutes", "Index", "Institute")</li>
                            <li>@Html.ActionLink("Occupations", "Index", "Occupation")</li>
                            <li>@Html.ActionLink("Nationalities", "Index", "Race")</li>
                            <li>@Html.ActionLink("Religions", "Index", "Religion")</li>
                            <li>@Html.ActionLink("Subjects", "Index", "Subject")</li>
                            <li>@Html.ActionLink("Districts", "Index", "District")</li>
                            <li>@Html.ActionLink("Cities", "Index", "City")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @RenderSection("scripts", required: false)
    </body>
</html>
