﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/bootstrapcss")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        <script src="@Url.Content("../../Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("../../Scripts/jquery-ui-1.8.20.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("../../Scripts/bootstrap.js")" type="text/javascript"></script>
        <script src="@Url.Content("../../Scripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("../../Scripts/retina.js")" type="text/javascript"></script>
        <script src="@Url.Content("../../Scripts/jquery.easing.1.3.js")" type="text/javascript"></script>
        <script src="@Url.Content("../../Scripts/smoothscroll.js")" type="text/javascript"></script>
        <script src="@Url.Content("../../Scripts/jquery-func.js")" type="text/javascript"></script>
        <style>

         p.footer{
		text-align: center;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 20px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
        }
            h4 {
                margin: 10px 30px;
            }
footer {
    background-color: #494949;
    color: #DDD;
    min-height: 50px;
    padding-top: 20px; 
background-repeat: repeat-x;
border: 1px solid #D4D4D4;
border-radius: 4px;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
}
         .masthead {
            color:#FFFFFF;
            background-image:url("http://i.imgur.com/CtWlB0v.jpg?1");
            background-repeat:no-repeat;
            height:200px;
        }
            #logoutForm {                
                text-align:end;
                font-size: 11px;
            }
            .loginFodrm {
            margin-left:500px;
            
            }
            .col-md-3 {
    width: 33.3333%;float: left;
}
            .navbar-footer {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    /*background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #2C0909, #F2F2F2);*/
    background-repeat: repeat-x;
    border: 0px solid #D4D4D4;
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
}
            .logo {
                margin-left:20px;
            }
            ul.inline, ol.inline {
    
    margin: 35px;
}
        </style>
    </head>
    <body>
        <div class="container">
             <div class="row page-header">
               <div class="pull-left">
                   <p> @*Html.ActionLink("your logo here", "Index", "Home")*@</p>
                   <div class="logo">
                      <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/slideshow/aplalogo2.png")" alt="Home" height="80" width="80" /></a>
                   </div>

                </div>
               <div class="pull-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>

               </div>
                  <div class="navbar">
                        <div class="navbar-inner">
                            <ul class="nav">
                                <li class="">@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                           </ul>
                   
                            </div>

                   </div>
             </div>
           
                @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        
        
            <div class="content-wrapper">
                <footer id="footer">
  <div class="container">
   
      <div class="col-xs-6 col-sm-6 col-md-3 column">          
          <h4>Information</h4>
          <ul class="navbar-footer">
            <li><a href="#">Products</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Benefits</a></li>
            <li><a href="#">Developers</a></li>
          </ul> 
        </div>
      <div class="col-xs-6 col-md-3 column">          
          <h4>Follow Us</h4>
          <ul class="navbar-footer">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Google+</a></li>
            <li><a href="#">Pinterest</a></li>
          </ul> 
      </div>
      <div class="col-xs-6 col-md-3 column">          
          <h4>Contact Us</h4>
          <ul class="navbar-footer">
            <li><a href="#">Email</a></li>
            <li><a href="#">Headquarters</a></li>
            <li><a href="#">Management</a></li>
            <li><a href="#">Support</a></li>
          </ul> 
      </div>
 </div>     
         <p class="footer">&copy; @DateTime.Now.Year -  Lanka Booking </p>
</footer>
                </div>
            

        @RenderSection("scripts", required: false)
    </body>
</html>
