﻿@model APLA.Models.LocalPasswordModel

<div class="row page-header">
	   <h3 style="text-align: center;">Change Password</h3>
    </div>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-vertical" role="form">
        
            <div class="form-group">
                 <label class="control-label">@Html.LabelFor(m => m.OldPassword)</label>
                @Html.PasswordFor(m => m.OldPassword)
            </div>
            <div class="form-group">
                 <label class="control-label">@Html.LabelFor(m => m.NewPassword)</label>
                @Html.PasswordFor(m => m.NewPassword)
            </div>
            <div class="form-group">
                 <label class="control-label">@Html.LabelFor(m => m.ConfirmPassword)</label>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        <div class="">
       <button type="submit" class="btn btn-info" value="Change password">Change Password</button>
            </div>
        
    </div>
}
