﻿@model APLA.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>

<section id="loginForm" class="loginForm">
<h3>Use a local account to log in.</h3>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
   // @Html.ValidationSummary(true)
   
    <div class="form-vertical" role="form">
        
            <div class="form-group">
                <label class="control-label">@Html.LabelFor(m => m.UserName)</label>
                @Html.TextBoxFor(m => m.UserName)
                <p class="alert-error">@Html.ValidationMessageFor(m => m.UserName)</p>
            </div>
            <div class="form-group">
                 <label class="control-label">@Html.LabelFor(m => m.Password)</label>
                @Html.PasswordFor(m => m.Password)
                <p class="alert-error">@Html.ValidationMessageFor(m => m.Password)</p>
            </div>
            <div class="checkbox">
                <p class="">@Html.CheckBoxFor(m => m.RememberMe)</p>
                <p class="">@Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })</p>
            </div>
        <div class="form-actions">
       <button type="submit" class="btn btn-success" value="Log in">Log in</button>
            </div>
    </div>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
           
}
</section>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
