﻿@model APLA.Models.LocalPasswordModel
@{
    
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<hgroup class="title">
    
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>


@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

@*<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
