﻿@{
    ViewBag.Title = "About";
}
<style>
    .image_about {
        text-align:center;
}
    #vis{      
    background-image:url("../../slideshow/vision.png");
    background-size: 190px 60px;
    background-repeat:no-repeat;
    text-align:center;
    padding-top: 5px;
    padding-right: 8px;
    position:relative;
    color:white;
    font: Times;
    font-size: 1.5em;
    top:0px;
    right:0px;
    height: 80px;
    }
     #mis{      
    background-image:url("../../slideshow/mision.png");
    background-size: 190px 60px;
    background-repeat:no-repeat;
    text-align:center;
    padding-top: 5px;
    padding-right: 8px;
    color:white;
    font: Times;
    font-size: 1.5em;
    top:0px;
    right:0px;
    height:80px;
    }
      #con{      
    background-image:url("../../slideshow/constitution.png");
    background-size: 190px 60px;
    background-repeat:no-repeat;
    text-align:center;
    padding-top: 5px;
    padding-right: 8px;
    color:white;
    font: Times;
    font-size: 1.5em;
    top:0px;
    right:0px;
    height: 80px;
    }
     #downloadimage{      
    background-image:url("../../slideshow/image_for_consitition.png");
    background-size: 180px 100px;
    background-repeat:no-repeat;
    position:relative;
    text-align:center;
    padding-top: 5px;
    padding-right: 8px;
    color:white;
    font: Times;
    font-size: 1.5em;
    top:0px;
    right:0px;
    height: 200px;
		border: 0px solid red;
    }
    #boxlink {
        padding-top: 5px;
        padding-right: 8px;
        color: white;
        font: Times;
        font-size: 1.5em;
        top: 0px;
        right: 0px;
        height: 200px;
    }
     
   
</style>
<div class="container">
    <div class="row">
                @*<h1 style="text-align:center">About APLA</h1>*@

        <iframe width="560" height="315" src="https://www.youtube.com/embed/Pkz41WQncUI" frameborder="0" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/pVTDgYKcvX0" frameborder="0" allowfullscreen></iframe></br></br>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/gJMjp8IfPMs" frameborder="0" allowfullscreen></iframe>

            <!--About us--> 
            <table size="100%" class="table">
	            <tr>
		            <td width="50%">
			            <div id="about" >
				            <h2><b><center></center></b></h2>

			            </div>
		            </td>
		            <td width="50%"  align="center">
			            <div id="about" ><!--
				            <img src="~/slideshow/FocusOnEducation-3.png" width="50%" height="250px" center></img> -->
			            </div>
		            </td>
	            </tr>
            </table>
            <br /><br />
            <div class="container-fluid">
                <div class="col-xs-6 col-sm-6 col-md-3 column">
   		             <div class="image_about" id="vis">
                            </div>
				                <p><br/>To become the Most Trusted and Respected Vehicle Exporter in Automobile Market</p>
			

                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 column"> 
                    <div class="image_about" id="con">
                        </div>
                    <br /> 
                       
                     <p>
                          <object data="APLA.pdf" type="application/pdf" width="300" height="200">You can Download our constitution
                       <a id="" href="~/pdf/APLA-Constitution.pdf" target="_blank">Click Here</a></object>                        
                        
                    </p>

                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 column">
                 <div class="image_about" id="mis">
                     </div>
				                <p><br/>It is the Mission of Car Maques to deliver personally selected </p>
			

                </div>
            </div>
           
        </div>
</div>
<script type="text/javascript">
</script>