﻿@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <div class="row">
        <hgroup class="title">
        </hgroup>
         <h3 class="in-main-heading color-high text-shadow-white">
                                    <span class="iconize color-high">/</span>
                                    <span class="iconize color-dark">/</span>
                                    <span class="big-one add-left-half">lo<span class="color-dark">ve</span> to be in <span class="color-dark">touc</span>h.</span> 
                                    </h3>
                                    <h3 class="in-sub-heading add-top add-bottom-half color-dark">
                                      </h3>
        <div class="container-fluid">
          <h4>Please do not hesitate to contact us if you have any further questions.</h4> <br />
  
            


            <div class="col-xs-6 col-sm-6 col-md-3 column" style="background-color:lavender;"><div class="phone" style="text-align:center">
                    <header>
                        <h3>Phone</h3>
                    </header>
                    <p>
                        <span class="label">Tel:</span>
                        <span>(+94) 11 3182052</span>
                    </p>
                    <p>
                        <span class="label">Fax:</span>
                        <span>(+94) 11 2617767</span><br><br>
                    </p>
                </div></div>
            <div class="col-xs-6 col-sm-6 col-md-3 column" style="background-color:lavenderblush;"><div class="email" style="text-align:center">
                    <header>
                        <h3>Email</h3>
                    </header>
            
                        <span class="label">Support:</span>
                        <span><a href="mailto:info@aplasl.com">info@aplasl.com</a></span><br><br><br><br>
            
    
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 column" style="background-color:lavender;"><div class="address" style="text-align:center">
                    <header>
                        <h3>Address</h3>
                    </header>        
                        No 48<br>
                        Maharagama Road<br>
                        Piliyandala<br>
                        <br>
            
                </div></div>
            <br /> <br />
    <div class="col-xs-6 col-lg-4">
          <div id="social_media">		
				        <a href="https://twitter.com/APLASL" target="_blank" ><div id="twt" class="social_box"><img src="@Url.Content("~/slideshow/tw1.png")" height="50" width="50"/> </div></a>
				        <a href="https://www.facebook.com/pages/All-Island-Professional-LecturersAssociation/822559931125012" target="_blank" ><div id="fb" class="social_box"><img src="@Url.Content("~/slideshow/fbn1.png")" height="50" width="50"/></div></a>
				        <a href="https://plus.google.com/u/1/117072574444055090960/posts" target="_blank" ><div id="pin" class="social_box"><img src="@Url.Content("~/slideshow/gp1.png")" height="50" width="50"/></div></a>
				        <a href="https://www.youtube.com/channel/UCzQwRXZz7ZmvTvbG2lYDteQ" target="_blank" ><div id="you" class="social_box"><img src="@Url.Content("~/slideshow/ut1.png")" height="50" width="50"/></div></a>
		        </div>
        </div>
            <div class="col-xs-12 col-sm-6 col-lg-8">
                <div id="map">
                           <h3>We are here..</h3>
                <iframe width="750" height="350" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=200+avenue+road+Cambridge+ON&amp;aq=&amp;sll=49.303974,-84.738438&amp;sspn=15.951426,28.256836&amp;ie=UTF8&amp;hq=&amp;hnear=200+Avenue+Rd,+Cambridge,+Ontario+N1R+7Z1&amp;t=m&amp;z=14&amp;ll=43.379803,-80.302328&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=200+avenue+road+Cambridge+ON&amp;aq=&amp;sll=49.303974,-84.738438&amp;sspn=15.951426,28.256836&amp;ie=UTF8&amp;hq=&amp;hnear=200+Avenue+Rd,+Cambridge,+Ontario+N1R+7Z1&amp;t=m&amp;z=14&amp;ll=43.379803,-80.302328" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                
                        </div>

            </div>
            <div class="row"> <!--
                <form class="col-lg-12">
            <div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
              <input type="text" class="center-block form-control input-lg" title="Enter you email." placeholder="Enter your email address">
              <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
            </div>
          </form>
                -->
            </div>

            
        </div>
    </div>
</div>