﻿@{
    ViewBag.Title = "Home Page";
}
<!-- Latest compiled and minified CSS -->

<!-- Optional theme 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">-->
<style>
    
    select, textarea, input[type="text"] {
        height:35px;
    }
    .search_home {
        border:0px red solid;
    }
    .form-group {
    margin-bottom: 3px;
}
    #search    {
background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
margin:auto;
position:relative;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
line-height: 24px;
color: #B1B1B1;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

    #img12{
    width:100%;
    height: 100%;
}
</style>
<div class="container">
    <div class="row">

         <div class="col-xs-6 col-sm-3 search_home">
         @using (Html.BeginForm("SeachTeacher", "PublicTeacher", FormMethod.Post, new { @class = "form-vertical", @id = "search" }))
    {
        
        @Html.ValidationSummary(true)

            <div class="form-group">
            <label class="control-label">Search by Name</label>
            <div class="controls">
                @Html.TextBox("Name")
            </div>
            </div>
             
            <div class="form-group">
            <label class="control-label">Search by Registration No</label>
            <div class="controls">
                @Html.TextBox("RegNo")
            </div>
            </div>

            <div class="form-group wb-inv">
                @Html.DropDownList("EducationStreamId", (SelectList)ViewBag.EducationStreamId, "Select Education Stream", new { @id = "EducationStreamId", @onchange = "javascript:GetSubjects(this.value);", @class="control-label" })
            </div>

            <div class="form-group">
                @Html.DropDownList("SubjectId", (SelectList)ViewBag.SubjectId, "Select Subject", new {@class="control-label" })
            </div>

             <div class="form-group">
                @Html.DropDownList("DistrictId", (SelectList)ViewBag.DistrictId, "Select District", new { @id = "DistrictId", @onchange = "javascript:GetCity(this.value);", @class="control-label" })
            </div>

            <div class="form-group">
                @Html.DropDownList("CityId", (SelectList)ViewBag.CityId, "Select City", new { @class="control-label" })
            </div>

             <div class="form-group">
                @Html.DropDownList("ClassTypeId", (SelectList)ViewBag.ClassTypeId, "Select Class Type",new { @class="control-label" })
            </div>
            

             <div class="form-group">
                 <div>
                <button style="text-align:center" type="submit" class="btn btn-success" value="Search"> Search</button>
                     </div>
            </div>

    }

</div>

        <div class="col-xs-12 col-md-9">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <!--<ol class="carousel-indicators">
    
        <li data-target="#myCarousel" data-slide-to="0" class='active'></li>
        <li data-target="#myCarousel" data-slide-to="0" class=''></li>
        <li data-target="#myCarousel" data-slide-to="0" class=''></li>
    </ol>-->
    <div class="carousel-inner">
        <div class='item active'>
            <img src="~/slideshow/banner1.jpg" />
        </div>
        <div class='item'>
            <img src="~/slideshow/banner2.jpg" />
        </div>
        <div class='item'>
            <img src="~/slideshow/banner3.jpg" />
        </div>
         <div class='item'>
            <img src="~/slideshow/banner4.jpg" />
        </div>
    </div><!-- 
     <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
     <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>/.carousel --> <!-- Carousel -->
</div>
    </div>

    </div>
    </div>
<!--
<div id="greywrap"><div class="container">
			
				<div class="col-lg-4 callout">
					<span class="icon icon-stack"></span>
					<h2 style="text-align:center">Welcome to APLA </h2>
					<p style="text-align:center">Shield Theme is powered by Bootstrap 3. The incredible Mobile First Framework is the best option to run your website. </p>
				</div>
			
    </div> 
		</div>

    <div class="container-fluid">

        

            <div class="col-xs-4">
           
              <div class="text-center"><h3>Robust</h3>
                  <p>There is other content and snippets of details or </p><i class="fa fa-cog fa-5x"></i></div>
            
          </div>

            <div class="col-xs-4 ">
               <div class="text-center"><h3>Simple</h3>
                  <p>You may also want to create content that compells users to </p><i class="fa fa-user fa-5x"></i></div>
            
          </div>
          <div class="col-xs-4 ">
           
              <div class="text-center"><h3>Clean</h3>
                  <p>In the first 30 seconds of a user's visit to your site they decide </p><i class="fa fa-mobile fa-5x"></i></div>
           
          </div>

       
</div>
        <hr>

    -->

<div class="container marketing home_con">
    <hr class="featurette-divider">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
            <a href="~/pdf/4-5.pdf" target="_blank">
                <img class="img-circle" src="~/Content/images/news.jpg" alt="Generic placeholder image" width="180" height="180">
            </a>
                <h4>Apla News
            </h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="~/pdf/8-9.pdf" target="_blank">
                <img class="img-circle" src="~/Content/images/id.jpg" alt="Generic placeholder image" width="180" height="180">
            </a>
                <h4>Award Winners
            </h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="~/pdf/6-7.pdf" target="_blank">
                <img class="img-circle" src="~/Content/images/tie.jpg" alt="Generic placeholder image" width="180" height="180">
            </a>
                <h4>Office Bearers
            </h4>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        @*<div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>*@
          <img id="img12" src="~/Content/images/President_Speech.PNG" />
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        @*<div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>*@
          <img id="img12" src="~/Content/images/Secatry_Speech.PNG" />
      </div>

      <hr class="featurette-divider">
    <div class="row">
        <div class="">
    		<div class="thumbnail center well well-small text-center">
                <h2>Newsletter</h2>
                
                <p>Subscribe to our weekly Newsletter and stay tuned.</p>
                
                <form action="#" method="post">
                     <div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
              <input id="Email" type="text" class="center-block form-control input-lg" title="Enter you email." placeholder="Enter your email address" required>
              <span class="input-group-btn"><button id="Clear" class="btn btn-lg btn-primary" type="button">OK</button></span>
            </div>
              </form>

                

            </div>    
        </div>
	</div>
      <!-- /END THE FEATURETTES -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
    
    </div><!-- /.container -->
<script type='text/javascript'>
    $(document).ready(function () {

        var audioElement = document.createElement('audio');
        audioElement.setAttribute('src', 'guru_geethaya.mp3');
        audioElement.setAttribute('autoplay', 'autoplay');
        $.get();
        audioElement.play();

        $('.carousel').carousel({
            interval: 4000,
            wrap: true

        })

        $("#Clear").click(function () {
            var subject = $("#Email").val();
            var Objdata = {};
            Objdata.subject = subject;

            var url = "@Url.Action("SendEmailAdmin", "PublicTeacher")";
            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify(Objdata),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                }
            });
            $("#Email").val("");
        });
    });
</script>

<script type="text/javascript">

    function GetCity(_districtid) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#CityId").html(procemessage).show();
        var url = "/PublicTeacher/GetCityByDisId/";

        $.ajax({
            url: url,
            data: { districtid: _districtid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select City</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#CityId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

    function GetSubjects(_streamId) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#SubjectId").html(procemessage).show();
        var url = "/PublicTeacher/GetSubjectByStream/";

        $.ajax({
            url: url,
            data: { streamId: _streamId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select Subject</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#SubjectId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

</script>